<div class="brows-btn">
  <a onclick = "select_event_clubs($(this),<%=params[:id]%>,'select_event_clubs');" id="select_event_clubs" style="cursor:pointer;"> Add Event Clubs </a>
  <div id="dropdown"></div>
</div>