<%event = Event.find_by_id(params[:id])%>
<select class="customSelect" id="event_items" name="event_items" onchange="window.location=this.options[this.selectedIndex].value">
  <option value="#">Event Items</option>
  <option value="<%=admin_event_path(params[:id])%>">View Event</option>
  <option value="<%=edit_admin_event_path(params[:id])%>">Edit Event</option>
  <%
  	val = EventCategoryRegistration.find_checkedin_val_or_not(params[:id])
  %>
  <option value='<%=admin_event_category_registrations_path("q[event_id_eq]" => params[:id], "q[is_checked_in_eq]" =>val, :order =>"event_category_registrations.number_asc")%>'>Event Registration</option>
  <%if event.try(:status) == "Upcoming"%>
  	<option value="<%=go_live_admin_event_path(event.id,params)%>">Launch Event</option>
  <%elsif event.try(:status) == "OnGoing"%>
  	<option value="<%=wind_up_admin_event_path(event.id,params)%>">Close Event</option>
  <%end%>
  <option value='<%=admin_event_category_registrations_path("q[event_id_eq]" => params[:id], "q[is_checked_in_eq]" =>val, :order =>"event_category_registrations.number_asc")%>'>Onsite Check-in</option>  
</select>


<select class="customSelect" id="organizations" name="organizations" onchange="window.location=this.options[this.selectedIndex].value;">
  <option value="#">Organizations</option>
  <option value="<%=admin_event_categories_path("q[event_id_eq]"=>event.try(:id))%>"> Edit Categories</option>
  <option value="<%=admin_event_sponsors_path("q[event_id_eq]"=>event.try(:id))%>">Edit Sponsors</option>
  <option value="<%=admin_event_clubs_path("q[event_id_eq]"=>event.try(:id))%>">Edit Clubs</option>
</select>


<select class="customSelect" id="judging" name="judging" onchange="window.location=this.options[this.selectedIndex].value">
<option value="#">Judging</option>
  <option value="<%=admin_event_judge_codes_path("q[event_id_eq]"=>event.try(:id))%>">Manage Judges</option>
</select>


<select class="customSelect" id="results" name="results" onchange="window.location=this.options[this.selectedIndex].value">
<option value="#">Results</option>
  <option value="<%=admin_event_categories_path("q[event_id_eq]"=>event.try(:id))%>">Judges Results</option>
  <option value="<%=admin_event_categories_path("q[event_id_eq]"=>event.try(:id))%>">Fan Results</option>
</select>