Welcome to Facial Hair League, <%= @first_name.try(:capitalize) %>
===============================================
 
      Your account has been created,
      Your email id is: <%= @email %>.      
 
To Login to the BBQL App, just use the above Email ID and your Password. Please take a moment to update your password to something personal to you and easy to remember.
 
Thanks for joining us, have a great day, and beard on!