<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <table border="0" cellpadding="0" cellspacing="0" width="800">
        <tr>
          <td><img src="<%=@attachment_url%>" width="800" height="245" alt=""></td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="5"><b>Hi <font color="#dd0330"><%= @first_name.try(:capitalize) %></font> 
            <!--&quot;Commish&quot;  -->
            <font color="#dd0330"><%= @last_name.try(:capitalize) %>!</font></b><br>
            <font size="4" color="#dd0330">Welcome to the Big League!</font>
            </font></font>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td valign="top"><b><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3">You are just a step away from accessing your BBQL account.</font></font><br><br>

          <font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3">We are sharing a verification code to access your account. The code is valid for <%= @expires_in_minutes %> minutes and usable only once.</font></font><br><br>

          <font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3">Once you have verified the code, you'll be prompted to set a new password immediately. This is to ensure that only you have access to your account.</font></font><br>

          <font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3"><br><br>
            Your OTP: <font color="#dd0330"><b><%=@secure_code%></b></font><br>
            Expires in: <font color="#dd0330"><b><%= @expires_in_minutes %> minutes</b></font><br>
            <br>
            Best Regards, <br> Team BBQL</font></font>
            </b>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#4f4f4f" size="2">Copyright <%=Time.now.year%> Facial Hair League, Inc. All Rights reserved.<br>
            </font>
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </body>
</html>