Welcome to Facial Hair League, <%= @first_name.try(:capitalize) %>
===============================================
 
      You have reset your password,
      Your OTP: <%=@secure_code%>
      Expires in: 60 minutes.
 
To change your password, please enter the above OTP on the mobile application.
 
Thanks for joining and have a great day!