<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <table border="0" cellpadding="0" cellspacing="0" width="800">
        <tr>
          <td><img src="<%=@attachment_url%>" width="800" height="245" alt=""></td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="5"><b>The Latest BBQL Draft pick is.....<font color="#dd0330"><%= @first_name.try(:capitalize) %></font> 
            <!--&quot;Commish&quot;  -->
            <font color="#dd0330"><%= @last_name.try(:capitalize) %>!</font></b><br>
            <font size="4" color="#dd0330">Welcome to the Big League!</font>
            </font></font>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td valign="top"><b><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3">You have reset your password. You can access your account via your mobile phone where you will be able to track all of the BBQL events and see your statistics on the competitions you have attended.</font></font><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="3"><br><br>
            Your Email ID is: <font color="#dd0330"><b><a href="mailto:<%=@email%>" target="_blank"><%= @email %></a></b></font><br>
            <br>
            To login to the BBQL app, just use the above Email ID and your New Password.<br>
            <br>
            Thanks for joining us, have a great day, and beard on!</font></font>
            </b>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#4f4f4f" size="2">Copyright <%=Time.now.year%> Facial Hair League, Inc. All Rights reserved.<br>
            </font>
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </body>
</html>