<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <table border="0" cellpadding="0" cellspacing="0" width="800">
        <tr>
          <td><img src="<%=@attachment_url%>" width="800" height="245" alt=""></td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td>
			<font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974"><font size="5"><b>Hi <font color="#dd0330"><%= @user.try(:first_name).try(:capitalize) %></font> 
            <!--&quot;Commish&quot;  -->
            <font color="#dd0330"><%= @user.try(:last_name).try(:capitalize) %>!</font></b><br>
            <font size="4" color="#dd0330">Welcome to the Big League!</font>
            </font></font>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td valign="top">
          	<b>
          		<font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974">
          			<font size="3">
          				Please find attached the detailed report for the event '<%=@object.try(:name)%>'
          			</font>
          		</font>
          		<br>
          		<br>
          		<font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#083974">
          			<font size="3">
            			Click and download the attachment.
            			<br><br>
            			Thanks for joining us, have a great day, and beard on!
            		</font>
            	</font>
            </b>
          </td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <td><font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#4f4f4f" size="2">Copyright <%=Time.now.year%> Facial Hair League, Inc. All Rights reserved.<br>
            </font>
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </body>
</html>