Welcome to Facial Hair League, <%= @email.split("@")[0] %>
===============================================
 
      You have reset your password,
      Your email is: <%= @email %>.
 
To login to the site, just use the above email id, password..
 
Thanks for joining and have a great day!