<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BBQL, <%= @user.email %></h1>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>