<%= form_tag admin_update_event_clubs_path, :method => :post, :id => "form_add_event_clubs" do %>
	<%event_clubs = EventClub.where(:event_id=>params[:id]).pluck(:club_id)%>
	<%event_clubs = event_clubs.present? ? event_clubs : [0]%>
	<%clubs = Club.where("id not in (?)",event_clubs).order("name ASC")%>
	<%=select_tag 'add_event_clubs_dropdown', options_for_select(clubs.collect{ |u| [u.name, u.id] }), :prompt => "Please select a Club"%>
	<%= hidden_field_tag :event_id, params[:id] %>
  		<%= submit_tag 'Save', :class=>"club-logos_btn-save"%>
  	<div id="cancel_dropdown" onclick="$(this).hide();$('#form_add_event_clubs').hide();$('#select_event_clubs').show();" style="cursor:pointer;"> Cancel </div>
<% end%>