<div id="login">
  <h2><%#= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%#= title t('active_admin.devise.login.Welcome to Facial Hair League') %> Welcome to <b>Facial Hair League</b></h2>
  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new" }) do |f|
    f.inputs do
      resource.class.authentication_keys.each_with_index { |key, index|
        f.input key, label: t('active_admin.devise.'+key.to_s+'.email'), input_html: { autofocus: index.zero? }, :placeholder => "Email Address"
      }
      f.input :password, label: t('active_admin.devise.password.password'), :placeholder => "Password"
      f.input :remember_me, label: t('active_admin.devise.login.remember_me?'), as: :boolean if devise_mapping.rememberable?
      f.actions do
      f.action :submit, label: t('active_admin.devise.login.submit'), button_html: { value: t('active_admin.devise.login.submit') }
    end
    end
    
  end
  %>

  
</div>
<div class="fp-link">
  <%= render partial: "active_admin/devise/shared/links" %>
</div>
