<table id="index_table_visitor_votes" class="index_table index tablesorter" cellspacing="0" cellpadding="0" border="border" width="100%" paginator="true">
  <thead>
  <tr>
    <th class="sortable col">Competitor</th>
    <th class="sortable col">Category</th>
    <th class="sortable col">Position</th>
    <th class="sortable col">Fan</th>
  </tr>
  </thead> 
  <tbody>
    <%visitor_votes.each_with_index do |visitor_vote,index|%>
      <% 
      evt_competitor_id, position = 
        (visitor_vote.position1 == format.to_i) ? [visitor_vote.position1, "Position 1"] :
        (visitor_vote.position2 == format.to_i) ? [visitor_vote.position2, "Position 2"] :
        (visitor_vote.position3 == format.to_i) ? [visitor_vote.position3, "Position 3"] : ["", ""]
      competitor = EventCompetitor.find_by_id(evt_competitor_id).try(:competitor).try(:nick_name).try(:capitalize)
      %>
      <tr id = "visitor_vote_<%=index+1%>" class= "<%=((index+1)%2 == 0) ? 'even' : 'odd' %>">
        <td class="col"><%=competitor.try(:titleize)%></td>
        <td class="col"><%=visitor_vote.try(:event_category).try(:category).try(:name)%></td>
        <td class="col"><%=position%></td>
        <%visitor = visitor_vote.try(:user)%>
        <td class="col"><%=visitor.present? ? "#{visitor.try(:last_name).try(:capitalize)}, #{visitor.try(:first_name).try(:capitalize)}" : "None"%></td>  
      </tr>
    <%end%>
  </tbody>
</table>

Download: <%= link_to "CSV", load_visitor_votes_visitor_votes_path(format: "csv", csv_param: true) %>


<%#= paginate visitor_votes%>


<script type="text/javascript">
$(document).ready(function() 
    { 
        // $("#index_table_reports").tablesorter();
        // $('.pagination a').attr('data-remote', 'true');
        // $('.pagination a').click(function (e) {
        //   // custom handling here
        //   return false;
        // });
        // $('.pagination a').click(function(){
        //   var click_page;
        //   if ($(this).parent().attr('class') == 'first')
        //     click_page = $(".page:first a").html();
        //   else if ($(this).parent().attr('class') == 'last')
        //     click_page = $(".page:last a").html();
        //   else if ($(this).parent().attr('class') == 'prev')
        //     click_page = parseInt($(".page.current").html()) - 1;
        //   else if ($(this).parent().attr('class') == 'next')
        //     click_page = parseInt($(".page.current").html()) + 1;
        //   else
        //     click_page = $(this).html();
        //   <%#if params[:page_load] == "true"%>
        //     load_reports("true",click_page);            
        //   <%#elsif condition_param.present?%>
        //     load_reports("false",click_page,"<%#=raw condition_param%>");
        //   <%#end%>
        // });
      // load_visitor_votes();
    } 
);
</script>