<%if @registered_users.present?%>
    <%@registered_users.each do |registered_user|%>
        <div id="check_in_<%=registered_user.id%>" class="inner-article">
            <%if params[:is_removed].to_s!="true"%>
                <%=link_to "X", "#!", :onclick=>"fnQuickCheckInRemove(#{registered_user.id})", :class=> "btn-remove"%>
            <%end%>
            <h3><%=registered_user.number%>:&nbsp;&nbsp;<%=registered_user.user.try(:first_name).capitalize%> <%=registered_user.user.try(:last_name).capitalize%></h3>
            <p>
                <%if params[:is_checked_in] == "true" || !registered_user.try(:parent).present? || registered_user.try(:category).try(:name).present?%>
                    <%=registered_user.try(:category).try(:name)%>
                <%else%>
                    <%=registered_user.try(:parent).try(:category).try(:name)%>
                <%end%>
            </p> 
            <%=form_tag mobile_checkin_register_comp_to_events_path(@event), :name=> "register_member_form", :method => :put, :class => 'form-inline' do %>
                <%=hidden_field_tag 'event_id', @event.try(:id)%>
                <%=hidden_field_tag 'competitor_id', registered_user.user.try(:competitor).try(:id)%>
                <%unless params[:is_checked_in] == "true"%>
                    <div class="form-group">
                        <select class="form-control" name="category_id" id="category_id_<%=registered_user.try(:id)%>">
                            <option>Choose a Category</option>
                            <%@event_categories.each do |category|%>
                                <option value="<%=category.try(:id)%>"><%=category.try(:name)%></option>
                            <%end%>
                        </select>
                    </div>
                <%end%>
                <%if params[:is_checked_in].to_s!="true"%>
                    <%if registered_user.parent_id.present?%>
                        <input type="button" class="btn btn-primary" onclick="fnQuickCheckIn(<%=registered_user.id%>)" value="Check-In">
                    <%else%>
                    <%=submit_tag "Check-In", class: "btn btn-primary", :onclick=>"return validate_member_checkin_with_category($(this).parent().find('select').val());"%>
                    <%end%>
                <%else%>
                    <br/><br/>
                <%end%>
                <!-- <input type="button" class="btn btn-primary" onclick="fnQuickCheckInRemove(<%=registered_user.id%>)" value="Remove"> -->
            <%end%>
        </div>
    <%end%>
<%else%>
    <div class="inner-article">
        <h3 style="text-align:center;"> No Results Found </h3>
    </div>
<%end%>