
<section class="content-section">
    <h2><%=@event.try(:name).capitalize%></h2>
    <div class="panel">
        <article class="article article-style">
            <h4 class="title-style">Choose A Member</h4>
            <div id="replaceble_checkin_comps">
                <%= render partial: "checkin_comps_partial" %>
            </div>

        </article>
        <article class="article article-style">
            <div class="article-foot-btn form-group footAttr-link">
            <%#=link_to "Member Not In List", event_checkin_mobile_checkin_path(:id=>@event.id), :class=>"btn btn-primary"%>
            <%=link_to "Main List", mobile_checkin_checkin_users_path(:id=>@event.id,:is_checked_in=>false,:is_removed=>false), :class=>"tab_link_main_list"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%=link_to "Checked-in Users", mobile_checkin_checkin_users_path(:id=>@event.id,:is_checked_in=>true,:is_removed=>false), :class=>"tab_link_checked_in_users"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%=link_to "Removed Users", mobile_checkin_checkin_users_path(:id=>@event.id,:is_checked_in=>false,:is_removed=>true), :class=>"tab_link_removed_users"%>
            
            </div>
        </article><br><br>
    </div>
</section>
<style>
.current_tab{
    font-weight: bold;

}
</style>
<script>
// $(document).ready(function(){    
    var tab_type="";
    <%if params[:is_removed].to_s=="true"%>
    tab_type = "removed_users";
    <%elsif params[:is_checked_in].to_s=="true"%>
    tab_type = "checked_in_users"
    <%else%>
    tab_type = "main_list"
    <%end%> 
    $(".tab_link_"+tab_type).addClass("current_tab").click(function () {return false;});
// });
</script>
