<script>
    function readURL(input,from_obj) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();                  
            reader.onload = function (e) {
                $('#existing_image_id')
                .attr('src', e.target.result)
                
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


<section class="content-section">
    <h2><%=@event.try(:name).capitalize%></h2>
    <div class="panel">
        <%#=form_tag mobile_checkin_update_checkedin_comp_path(@event), :name=> "edit_checkedin_comp_form", :method => :put, :class => 'position-form' do %>
        <%= form_for @evnt_cat_reg, :url=> mobile_checkin_update_checkedin_comp_path(@event), :name=> "edit_checkedin_comp_form", :method => :put, :class => 'position-form' do |f| -%>
            <article class="article article-style">
                <h4 class="title-style">Edit A User</h4>
                <%=hidden_field_tag 'user_id', @user.try(:id)%>
                <%=hidden_field_tag 'evnt_cat_reg_id', @evnt_cat_reg.try(:id)%>
                <%=hidden_field_tag 'event_id', @event.try(:id)%>
                <%=hidden_field_tag 'old_badge_id', @evnt_cat_reg.try(:number)%>
                <div class="form-group">
                    <%=text_field_tag 'first_name', @user.try(:first_name), :class=>"form-control", :placeholder=>"First Name"%>
                </div>
                <div class="form-group">
                    <%=text_field_tag 'last_name', @user.try(:last_name), :class=>"form-control", :placeholder=>"Last Name"%>
                </div> 
                <div class="form-group">
                    <%=select_tag "category", options_for_select(@event_categories.pluck(:name), @category.try(:name)), :class=>"form-control"%>
                </div> 
            </article>
            <article class="article article-style">
                <h4 class="title-style">Lanyard Number</h4>
                <div class="form-group">                    
                    <%#=text_field_tag 'badge_id', @evnt_cat_reg.try(:number), :class=>"form-control", :placeholder=>"000"%>
                    <input type="text" value="<%=@evnt_cat_reg.try(:number)%>" placeholder="000" name="badge_id" id="badge_id" class="form-control" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div> 
            </article>
            <article class="article article-style">
                <h4 class="title-style">Member Pic</h4>
                <figure class="upload-picture">
                    <!-- <img class="img-responsive" src="img/pictures.jpg" alt="" /> -->
                    <%unless @evnt_cat_reg.try(:event_photo_file_name).nil?%>
                        <%=image_tag ("#{AppConfig.s3_url}/attachments/#{@evnt_cat_reg.id}/original/"+@evnt_cat_reg.event_photo_file_name), :class=>"img-responsive", :id=>"existing_image_id"%>
                    <%end%>
                    <figcaption>
                        <div class="fileUpload">
                            <span ><img class="icon-camara" src="<%=AppConfig.image_domain%>/images/icon-camara.png" alt=""></span>
                            <%=f.file_field :event_photo, :class=>"upload", :onchange=>"if(validate_file_field($(this).attr('id'))) {readURL(this,'frm_chs_pt');}", :name=>"event_category_registration[event_photo]"%>
                        </div>
                    </figcaption>
                </figure>

                <div class="article-foot-btn text-center">
                    <%=link_to "Cancel", event_checkin_mobile_checkin_path(:id=>@event.id), :class=>"btn btn-primary"%>
                    <%=link_to "Delete", mobile_checkin_delete_checkedin_competitor_path(:evnt_cat_reg_id=>@evnt_cat_reg.id), :class=>"btn btn-primary btn-danger"%>
                    <%#=submit_tag "Submit", class: "btn btn-primary", :id=>"submit_id"%>
                    <button type="button" class="btn btn-primary" onclick="badge_id_onsubmit_validation($('#event_id').val(),$('#badge_id').val(),$('#old_badge_id').val(),$('#user_id').val())">Submit</button>
                </div>
            </article>
        <%end%>
    </div>
</section>