<!--
<script type="text/javascript">
    setTimeout(function(){ fadeout_confirmation(); }, 5000);
</script>
-->

<div id ="confirmation_msg" class="alert alert-success clearfix" role="alert" style="<%if params[:success_msg]%>display:block;<%else%>display:none;<%end%>">
    <h3><span class="icon icon-success"></span>Confirmation</h3>
    <div>
        <p>Name: <span><%=@evnt_cat_reg.try(:user).try(:first_name)%> <%=@evnt_cat_reg.try(:user).try(:last_name)%></span></p>
        <p>Category: <span><%=@evnt_cat_reg.try(:category).try(:name)%></span></p>
        <p>Competitor ID: <span><%=@evnt_cat_reg.try(:number)%></span></p>
    </div>
</div>
<!-- /alert -->

<section class="content-section">
    <%class_name = (@event.try(:name).length >= 120) ? "extra-small" : (@event.try(:name).length >= 85) ? "small" : ""%>
    <h2 class="<%=class_name%>"><%=@event.try(:name).capitalize%></h2>
    <div class="panel">
        <!-- <form action=""> -->
        
        <article class="panel-header-btn">
            <%=link_to "Quick Check-In", mobile_checkin_checkin_users_path(@event.try(:id),:is_checked_in=>false,:is_removed=>false),:class=>"btn btn-primary"%>
        </article>
        <%=form_tag mobile_checkin_search_users_path(@event), :name=> "member_search_form", :method => :get, :class => 'position-form' do %>
            <article class="article">
                <h4>BBQL Member</h4>
                <div class="form-group">
                    <%=text_field_tag 'first_name', '', :class=>"form-control", :placeholder=>"First Name"%>
                </div>
                <div class="form-group">
                    <%=text_field_tag 'last_name', '', :class=>"form-control", :placeholder=>"Last Name"%>
                </div>
                <div class="article-foot-btn form-group">
                    <!-- <button type="button" class="btn btn-primary disabled">Scan</button> -->
                    <%=submit_tag "Search", class: "btn btn-primary", :onclick=>"return validate_member_search($('#first_name').val(),$('#last_name').val());"%>
                </div>
            </article>            
        <%end%>

        <%=form_tag mobile_checkin_create_new_competitor_path(@event), :name=> "create_competitor_form", :method => :post, :class => 'position-form', :id=> "create_competitor_form_id" do %>
            <article class="article">
                <h4>Create New Account</h4>
                <div class="form-group">
                    <%=text_field_tag 'create_first_name', '', :class=>"form-control", :placeholder=>"First Name"%>
                </div>
                <div class="form-group">
                    <%=text_field_tag 'create_last_name', '', :class=>"form-control", :placeholder=>"Last Name"%>
                </div>
                <div class="form-group">
                    <%=text_field_tag 'email', '', :class=>"form-control", :placeholder=>"Email Address"%>
                </div>
                <div class="form-group">
                    <select class="form-control" name="category_id" id="category_id">
                        <option>Category</option>                        
                        <%@event_categories.each do |category|%>
                            <option value="<%=category.try(:id)%>"><%=category.try(:name)%></option>
                        <%end%>
                    </select>
                </div>
                <div class="article-foot-btn form-group">
                    <%#=submit_tag "Submit", class: "btn btn-primary", :onclick=>"return validate_create_member($('#create_first_name').val(),$('#create_last_name').val(),$('#email').val(),$('#category_id').val());"%>

                    <input type="button" value="Submit" onclick="return validate_create_member($('#create_first_name').val(),$('#create_last_name').val(),$('#email').val(),$('#category_id').val());" name="commit" class="btn btn-primary">

                </div>
            </article>
        <%end%>

        <%=form_tag mobile_checkin_take_photo_path(@event), :name=> "registered_member_form", :method => :get, :class => 'position-form' do %>
            <article class="article">
                <h4><span style="color:red;"><%=@registered_competitors.try(:count)%></span> Pre-Registered Members</h4>
                <div class="form-group">
                    <select class="form-control" name="evnt_cat_reg_id" id="evnt_cat_reg_id">
                        <option>Choose A Member</option>
                        <%@registered_competitors.each do |reg_comp|%>
                            <option value=<%=reg_comp.id%>>
                                <%=reg_comp.try(:user).try(:last_name).try(:capitalize)%><%=reg_comp.try(:user).try(:last_name).present? ? "," : ""%> <%=reg_comp.try(:user).try(:first_name)%>
                            </option>
                        <%end%>
                    </select>
                </div>
                <div class="article-foot-btn form-group">
                    <!-- <button type="button" class="btn btn-primary disabled">Scan</button> -->
                    <%=submit_tag "Check-In", class: "btn btn-primary", :onclick=>"return validate_member_checkin($('#evnt_cat_reg_id').val());"%>
                </div>
            </article>
        <%end%>

            <%=form_tag mobile_checkin_edit_checkedin_comp_path(@event), :name=> "edit_checkedin_comp_form", :method => :get, :class => 'position-form' do %>
                <article class="article">
                    <h4>Edit Checked-In Member</h4>
                    <div class="form-group">
                        <select class="form-control" name="selected_user_id" id="selected_user_id">
                            <option>Choose A Checked-In Member</option>
                            <%@checkedin_competitors.each do |checkedin_comp|%>
                                <option value=<%=checkedin_comp.try(:user).try(:id)%>>
                                    <%=checkedin_comp.try(:user).try(:last_name).try(:capitalize)%><%=checkedin_comp.try(:user).try(:last_name).present? ? "," : ""%> <%=checkedin_comp.try(:user).try(:first_name)%>
                                </option>
                            <%end%>
                        </select>
                    </div>
                    <div class="article-foot-btn form-group">
                        <%=submit_tag "Edit", class: "btn btn-primary", :onclick=>"return validate_edit_member($('#selected_user_id').val());"%>
                    </div>
                </article>
            <%end%>

            <!-- <%#=form_tag mobile_checkin_delete_checkedin_comp_path(@event), :name=> "delete_checkedin_comp_form", :method => :delete, :class => 'position-form' do %>
                <article class="article">
                    <h4>Delete Checked-In Members</h4>
                    <div class="form-group checkboxes">
                        <%#@checkedin_competitors.each do |checkedin_comp|%>
                            <%#= check_box_tag "checkedin_comp[]", checkedin_comp.try(:user).try(:id) -%> <%#=checkedin_comp.try(:user).try(:last_name).try(:capitalize)%><%#=checkedin_comp.try(:user).try(:last_name).present? ? "," : ""%> <%#=checkedin_comp.try(:user).try(:first_name)%> <br/>
                        <%#end%>
                    </div>
                    <div class="article-foot-btn form-group">
                        <%#=submit_tag "Delete", class: "btn btn-primary", :onclick=>"return validate_delete_members($('.checkboxes').find('input:checked'));"%>
                    </div>
                </article> -->
            <%#end%>

        <!-- </form> -->
    </div>
</section>
<!-- /content-section --> 
