<section class="content-section">
    <h2>All Events</h2>
    <div class="panel events-list">
        <form action="">
            <article class="article">
                <h4>Live Events</h4>
                <div class="form-group">
                    <%live_events = @events.present? ? @events.where(:status=>"OnGoing") : []%>
                    <%if live_events.present?%>
                        <%live_events.each_with_index do |event,index|%>
                            <%=link_to event.name, event_checkin_mobile_checkin_path(event.id)%>
                        <%end%>
                    <%else%>
                        <div style="text-align:center;">No Live Events Found</div>
                    <%end%>
                </div>                
            </article>
            <article class="article">
                <h4>Upcoming Events</h4>
                <div class="form-group">
                    <%upcoming_events = @events.present? ? @events.where(:status=>"Upcoming") : []%>
                    <%if upcoming_events.present?%>
                        <%upcoming_events.each_with_index do |event,index|%>
                            <%=link_to event.name, event_checkin_mobile_checkin_path(event.id)%>
                        <%end%>
                    <%else%>
                        <div style="text-align:center;">No Upcoming Events Found</div>
                    <%end%>
                </div>                
            </article>
        </form>
    </div>
</section>
<!-- /content-section -->