<section class="content-section">
    <h2><%=@event.try(:name).capitalize%></h2>
    <div class="panel">
        <article class="article article-style">
            <h4 class="title-style">Choose A Member</h4>
            <%if @all_users.present?%>
                <%@all_users.each do |user|%>
                    <div class="inner-article">
                        <h3><%=user.try(:first_name).capitalize%> <%=user.try(:last_name).capitalize%></h3>
                        <p><%=user.try(:email)%></p> 
                        <%=form_tag mobile_checkin_register_comp_to_events_path(@event), :name=> "register_member_form", :method => :put, :class => 'form-inline' do %>
                            <%=hidden_field_tag 'event_id', @event.try(:id)%>
                            <%=hidden_field_tag 'competitor_id', user.try(:competitor).try(:id)%>
                            <div class="form-group">
                                <select class="form-control" name="category_id" id="category_id_<%=user.try(:id)%>">
                                    <option>Choose a Category</option>
                                    <%@event_categories.each do |category|%>
                                        <option value="<%=category.try(:id)%>"><%=category.try(:name)%></option>
                                    <%end%>
                                </select>
                            </div>
                            <%=submit_tag "Check-In", class: "btn btn-primary", :onclick=>"return validate_member_checkin_with_category($(this).parent().find('select').val());"%>
                        <%end%>
                    </div>
                <%end%>
            <%else%>
                <div class="inner-article">
                    <h3 style="text-align:center;"> No Results Found </h3>
                </div>
            <%end%>

        </article>
        <article class="article article-style">
            <div class="article-foot-btn form-group">
            <%=link_to "Member Not In List", event_checkin_mobile_checkin_path(:id=>@event.id), :class=>"btn btn-primary"%>
            </div>
        </article><br><br>
    </div>
</section>