<script>
    function readURL(input,from_obj) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();                  
            reader.onload = function (e) {
                $('#img_prev')
                .attr('src', e.target.result)
                
            };
            reader.readAsDataURL(input.files[0]);
        }

        if (from_obj == "frm_chs_pt")
        {
            $(".hide_evt_pht").hide();
            $(".hide_butons").show();
            $(".hide_butons").css("display","inline-block;");
        }
        else
        {
            $("#event_category_registration_event_photo").val("")
        }

    }
</script>


<section class="content-section">
    <h2><%=@evnt_cat_reg.try(:event).try(:name).capitalize%></h2>
    <div class="panel">
        <article class="article article-style">
            <h4 class="title-style" id="take_or_confirm_photo">Confirm Photo For: <%=@user_name%></h4>
            <%= form_for @evnt_cat_reg, :url=> mobile_checkin_update_photo_path do |f| -%>          
                <div class="article-foot-btn form-group">
                    <div class="fileUpload btn btn-primary hide_evt_pht btn-inB" style="display: inline-block;">
                        <span >Choose Photo</span>
                        <%=f.file_field :event_photo, :class=>"upload", :onchange=>"if(validate_file_field($(this).attr('id'))) {readURL(this,'frm_chs_pt');}"%> 
                    </div>

                    <div class="fileUpload btn btn-primary hide_butons btn-inB" style="display: none;">
                            <span >Retake</span>
                            <input type='file' class="upload" id="retake_photo" onchange="if(validate_file_field($(this).attr('id'))) {readURL(this,'frm_ret_pht');}" name="event_category_registration[event_photo]" />
                        <%= f.hidden_field :id, :value => @evnt_cat_reg.id %>
                    </div>
                    <div class="fileupload-button hide_butons btn-inB" style="display: none;">
                        <%= f.submit "Confirm", :class=>"btn btn-primary"%>
                    </div>
                </div>
            <%end%>
            <figure class="upload-picture">
                <!-- <img id="img_prev" class="img-responsive" src="#" alt="" /> -->
                <%img_url = "#{AppConfig.image_url}" + "/images/CheckInPhoto_Solo.png"%>
                <img id="img_prev" class="img-responsive" src="<%=img_url%>" alt="" />
            </figure>
        </article> 
    </div>
</section>