<div class="panel_contents">
	<form method="get" id="q_search" class="filter_form" action="<%=AppConfig.url%>/event_category_registrations" accept-charset="UTF-8">
		<div style="margin:0;padding:0;display:inline">
			<input type="hidden" value="✓" name="utf8">
		</div>
		<div class="filter_form_field filter_select">
			<!-- <label for="q_event_category_id" class="label">View Visitor Results</label>			 -->
			<select name="q[is_checked_in_eq]" id="q_is_checked_in" style="display:none;">
				<option value="0">Check-In</option>
		 	</select>
		</div>
		<div class="buttons">
			<input type="submit" value="Check-In" name="commit" style="cursor:pointer;
			<%if params[:q].present? && params[:q][:is_checked_in_eq] == "0"%>background:#6E6E6E;color:black<%end%>">
			<!-- <a class="clear_filters_btn" href="#">Clear Filters</a> -->
			<input type="hidden" value="<%=params[:q].present? && params[:q][:event_id_eq]%>" name="q[event_id_eq]" id="hidden_active_admin_id">
			<input type="hidden" value="event_category_registrations.number_asc" name="order" id="hidden_active_admin_order">
		</div>
		<br>
	</form>
</div>