<!DOCTYPE html>
<html>
	<head>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<meta charset=utf-8 />
		<title>Checked-in Image</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>
			
		</style>
	</head>
	<body>
	<div class="popup-content">
		<h4>Checked-in Image</h4>
		<h6><%=user_name%></h6>
		<div class="picHolder">			
			<%if image_url.present?%>
				<%=image_tag (image_url)%>
			<%else%>
				"No image found"
			<%end%>
		</div>		
	</div>
	</body>
</html>