<!DOCTYPE html>
<html>
	<head>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<script>
			function readURL(input,from_obj) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();					
					reader.onload = function (e) {
						$('#img_prev')
						.attr('src', e.target.result)
						
					};					
					reader.readAsDataURL(input.files[0]);
				}

				if (from_obj == "frm_chs_pt")
				{
					$(".hide_evt_pht").hide();
					$(".hide_butons").show();
				}
				else
				{
					$("#event_category_registration_event_photo").val("")
				}

			}
		</script>

		<meta charset=utf-8 />
		<title>Event Photo</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>
			
		</style>
	</head>
	<body>
	<div class="popup-content">
		<h4>Event Photo</h4>
		<h6><%=user_name%></h6>
		<div class="picHolder">
			<img id="img_prev" src="#" alt="" />
		</div>
		<%= form_for [:admin, evnt_cat_reg], :url=> admin_update_photo_path do |f| -%>			
		    <div class="upload-btn-holder">
				<div class="fileupload-button hide_evt_pht">
		            <label class="fu-button">
		                <span >Choose Photo</span>
		                <%=f.file_field :event_photo, :onchange=>"if(validate_file_field($(this).attr('id'))) {readURL(this,'frm_chs_pt');}"%>
		            </label>
		        </div>
		        <div class="fileupload-button hide_butons" style="display: none;">
		            <label class="fu-button">
		                <span >Retake</span>
		                <input type='file' id="retake_photo" onchange="if(validate_file_field($(this).attr('id'))) {readURL(this,'frm_ret_pht');}" name="event_category_registration[event_photo]" />
			        <%= f.hidden_field :id, :value => evnt_cat_reg.id %>
		            </label>
		        </div>
		        <div class="fileupload-button hide_butons" style="display: none;">
				    <label class="fu-button">
				    	<span >Use This Photo</span>
				        <%= f.submit "Use This Photo"%>
			        </label>
			    </div>
       		</div>
		<%end%>
	</div>
	</body>
</html>