<script type="text/javascript">
  var event_id = $("#page_title").text().split(">")[1];
</script>
<div class="buttons" style="float:left; margin:0 0 20px 0">
  <input type="submit" value="Overall Results" name="commit" style="cursor:pointer;" onclick = "track_overall_fan_voting_results(event_id);">      
</div>

<div class="buttons">
  <%categories = Event.find_by_id(event_id).categories.joins(:event_categories).uniq.order('event_categories.sort_order IS NULL, event_categories.sort_order ASC')%>
  <%=select_tag :event_category, options_from_collection_for_select(categories, :id, :name, category_id), :prompt => "View Results by Category",:class=>"event-category-dropdown", :onchange => "track_category_fan_voting_results(event_id,$(this).find(':selected').val());"%>
</div>

<table id="index_table_event_fan_voting_results" class="index_table index tablesorter" cellspacing="0" cellpadding="0" border="border" width="100%" paginator="true">
<thead style="cursor:pointer;">
<tr>
  <th class="sortable col">Rank</td>
  <th class="sortable col">Fan Score</td>
  <th class="sortable col">First Name</td>
  <th class="sortable col">Last Name</td>
  <th class="sortable col">Email</td>  
</tr>
</thead>
<tbody>
  <%if hash.present?%>
    <%current_max=hash.first[1]%>
    <%current_rank=1%>
    <%hash.each_with_index do |hsh,index|%>
      <% 
        user = @users.find_all{|user| user.id==hsh[0]}.first
      %>
      <%if hsh[1] < current_max
        current_rank = index+1
        current_max=hsh[1]      
      end%>
      <tr id = "fan_vote_<%=index+1%>" class= "<%=((index+1)%2 == 0) ? 'even' : 'odd' %>">
        <td class="col"><%=current_rank%></td>
        <td class="col"><%=hsh[1]%></td>
        <td class="col"><%=user.try(:first_name).try(:capitalize)%></td>
        <td class="col"><%=user.try(:last_name).try(:capitalize)%></td>
        <td class="col"><%=user.try(:email)%></td>        
      </tr>
    <%end%>
  <%else%>
    <tr>
      <td class="col" colspan="5" style="text-align:center;background: #FFF">No Result found</td>
    </tr>
  <%end%>
</tbody>
</table>

<div style="float:left">
  <%if category_id.present?%>
    Download: <%= link_to "CSV", track_category_fan_voting_results_event_fan_voting_results_path(format: "csv", csv_param: true, event_id: event_id, category_id: category_id) %>
  <%else%>
    Download: <%= link_to "CSV", track_overall_fan_voting_results_event_fan_voting_results_path(format: "csv", csv_param: true, event_id: event_id) %>
  <%end%>
</div>


<script type="text/javascript">
$(document).ready(function()
    { 
        $("#index_table_event_fan_voting_results").tablesorter();
        // Need to modify, because dropdown is not working fine.
        customSelectbox();
        function customSelectbox() {
          // Iterate over each select element
          $('.customSelect').each(function () {

              // Cache the number of options
              var $this = $(this),
                  numberOfOptions = $(this).children('option').length;

              // Hides the select element
              $this.addClass('s-hidden');

              // Wrap the select element in a div
              $this.wrap('<div class="select-box"></div>');

              // Insert a styled div to sit over the top of the hidden select element
              $this.after('<div class="styledSelect"></div>');

              // Cache the styled div
              var $styledSelect = $this.next('div.styledSelect');

              // Show the first select option in the styled div
              $styledSelect.text($this.children('option').eq(0).text());

              // Insert an unordered list after the styled div and also cache the list
              var $list = $('<ul />', {
                  'class': 'options'
              }).insertAfter($styledSelect);

              // Insert a list item into the unordered list for each select option
              for (var i = 0; i < numberOfOptions; i++) {
                  $('<li />', {
                      text: $this.children('option').eq(i).text(),
                      rel: $this.children('option').eq(i).val()
                  }).appendTo($list);
              }

              // Cache the list items
              var $listItems = $list.children('li');

              // Show the unordered list when the styled div is clicked (also hides it if the div is clicked again)
              $styledSelect.click(function (e) {
                  e.stopPropagation();
                  $('div.styledSelect.active').each(function () {
                      $(this).removeClass('active').next('ul.options').hide();
                  });
                  $(this).toggleClass('active').next('ul.options').toggle();
              });

              // Hides the unordered list when a list item is clicked and updates the styled div to show the selected list item
              // Updates the select element to have the value of the equivalent option
              $listItems.click(function (e) {
                  e.stopPropagation();
                  $styledSelect.text($(this).text()).removeClass('active');
                  $this.val($(this).attr('rel'));
                  $list.hide();
                  /* alert($this.val()); Uncomment this for demonstration! */
              });

              // Hides the unordered list when clicking outside of it
              $(document).click(function () {
                  $styledSelect.removeClass('active');
                  $list.hide();
              });

          });
      }

    }
);
</script>