<div id="filters_sidebar_section" class="sidebar_section panel">
	<h3>Filters</h3>
	<div class="panel_contents">
		<%#= form_tag load_reports_games_statistics_path, :method => 'get', remote: true, :id=>"new_q", :class=>"filter_form" do %>
			<div style="margin:0;padding:0;display:inline">
				
			</div>

			<div class="filter_form_field filter_date_range">
				<label for="q_game_date_gteq" class="label">Game Date</label>
				<input type="text" value="" size="12" name="q[game_date_gteq]" max="10" id="q_game_date_gteq" class="datepicker">
				<span class="seperator">-</span>
				<input type="text" value="" size="12" name="q[game_date_lteq]" max="10" id="q_game_date_lteq" class="datepicker">
			</div>
			<div class="filter_form_field filter_select">
				<label for="h_contest_id" class="label">Contest</label>
				<select name="h[contest_id_eq]" id="h_contest_id">
					<option value="">Any</option>
					<%#=contests.each do |contest|%>
						<option value="<%#=contest.id%>"><%#=contest.name%></option>
					<%#end%>					
				</select>
			</div>
			<div class="filter_form_field filter_select">
				<label for="g_product_id" class="label">Product Name</label>
				<select name="g[product_id_eq]" id="g_product_id">
					<option value="">Any</option>					
					<%#=products.each do |product|%>
						<option value="<%#=product.id%>"><%#=product.name%></option>
					<%#end%>
				</select>
			</div>

			<div class="buttons">
				<input type="button" class="button-css" value="Filter" name="commit" onclick="load_reports('false');">
				<a class="clear_filters_btn" href="#" onclick="$('#new_q')[0].reset();load_reports();">Clear Filters</a>
				<input type="hidden" value="id_desc" name="order" id="hidden_active_admin_order">
			</div>
		<%#end%>
	</div>
</div>	
