<%if users.present?%>
	<%users.each do |user|%>
   		<li class="choice"><label for="event_user_ids_<%=user.try(:id)%>"><input type="checkbox" value="<%=user.try(:id)%>" name="event[user_ids][]" id="event_user_ids_<%=user.try(:id)%>"><%=user.try(:last_name)%>, <%=user.try(:first_name)%></label></li>
   	<%end%>
<%else%>
	No Competitors found for this event
<%end%>