<option value="">Please Select Judge</option>
<%users.each do |user|%>
	<option value="<%=user.id%>"><%=user.try(:last_name).try(:capitalize)%><%= user.try(:last_name).present? ? ', ' : ''%><%=user.try(:first_name).try(:capitalize)%></option>
<%end%>