<div class="panel_contents">
  <form method="get" id="q_search" class="filter_form" action="<%=AppConfig.url%>/admin_users" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8">
    </div>
    <div class="filter_form_field filter_select">
      <select name="q[is_checkin_manager_eq]" id="q_is_checkin_manager" style="display:none;">
        <option value="0">Admin Users</option>
      </select>
    </div>
    <div class="buttons">
      <input type="submit" value="Admin Users" name="commit" style="cursor:pointer;margin-bottom: 20px;
      <%if params[:q].present? && (params[:q][:is_checkin_manager_eq] == "0" || params[:q][:is_checkin_manager_eq] == "false") %>background:#6E6E6E;color:black<%end%>">      
    </div>
  </form>
</div>