 <%= form_for NonProfit.new, :url => user_create_non_profit_url_path do |f| %>
  Enter Donation Url: 
  <%if NonProfit.where(:status=>true).present?%>
  	<input id="non_profit_id" type="text" name="url" value="<%=NonProfit.where(:status=>true).first.try(:url)%>" disabled=disabled>
  <%else%>
  	<input id="non_profit_id" type="text" name="url">
  <%end%>
  <br>
  <span id= "error" style="display:none;color:red;">Please enter donation URL</span>
  <br>  

<div class="panel-footer-btn">
  <%if NonProfit.where(:status=>true).present?%>
  	<input id = "submit_form_id" type="submit" value="Submit" disabled=disabled>
  <%else%>
  	<input id = "submit_form_id" type="submit" value="Submit">
  <%end%>

  <a id="edit_non_profit">Edit</a>
  <a id="delete_non_profit" onclick="delete_non_profit_url($('#non_profit_id').val())">Delete</a>
</div>

<%end%>

<script type="text/javascript">
$(document).ready(function() {
	$("#edit_non_profit").click(function(){
	    $("#non_profit_id").attr("disabled",false)
	    $("#submit_form_id").attr("disabled",false)
	});
	$("#submit_form_id").click(function(){
	    if ($("#non_profit_id").val() == "" || $("#non_profit_id").val().trim() == "")
	    {
          $("#non_profit_id").val($("#non_profit_id").val().trim())
	        $("#error").show();
	        return false;
	    }
	    
	});
})
</script>