 <%= form_for AdminPushNotification.new, :url => user_create_admin_push_notification_path do |f| %>
  Enter Push Message: 
  <%if AdminPushNotification.where(:status=>true).present?%>
  	<input id="push_notif_id" type="text" name="content" value="<%=AdminPushNotification.where(:status=>true).first.try(:content)%>" disabled=disabled>
  <%else%>
  	<input id="push_notif_id" type="text" name="content">
  <%end%>
  <br>
  <span id= "push_notif_error" style="display:none;color:red;">Please enter Notification Content</span>
  <br>  

<div class="panel-footer-btn">
  <%if AdminPushNotification.where(:status=>true).present?%>
  	<input id = "push_notif_submit_form_id" type="submit" value="Submit" disabled=disabled>
  <%else%>
  	<input id = "push_notif_submit_form_id" type="submit" value="Submit">
  <%end%>

  <a id="edit_push_notif">Edit</a>
  <a id="delete_push_notif" onclick="delete_admin_push_notification($('#push_notif_id').val())">Delete</a>
</div>

<%end%>

<script type="text/javascript">
$(document).ready(function() {
	$("#edit_push_notif").click(function(){
	    $("#push_notif_id").attr("disabled",false)
	    $("#push_notif_submit_form_id").attr("disabled",false)
	});
	$("#push_notif_submit_form_id").click(function(){
	    if ($("#push_notif_id").val() == "" || $("#push_notif_id").val().trim() == "")
	    {
          $("#push_notif_id").val($("#push_notif_id").val().trim());
	        $("#push_notif_error").show();
	        return false;
	    }
	    
	});
})
</script>