<!DOCTYPE html>
<html>
	<head>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<meta charset=utf-8 />
		<title>Create Bulk Checkin Managers</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<style>
			
		</style>
	</head>
	<body>
	<div class="popup-content checkin-manager">
		<h4>Create Bulk Checkin Managers</h4>
		<h6><%#=user_name%></h6>
		<!-- <div class="picHolder">
			<img id="img_prev" src="#" alt="" />
		</div> -->
		<%= form_for [:admin, admin_user], :url=> admin_save_bulk_ck_mnrs_path do |f| -%>
		    <div class="">
				<div class="">
		            <label class="label-text">
		                <span >Email Text</span>
		                <%=f.text_field :email_text%>
		            </label>
		        </div>
		        <div class="label-text" style="">
		            <label class="">
		                <span >Quantity</span>
		                <%=f.text_field :quantity, :onblur => "number_validation($(this).val())"%>
		            </label>
		        </div>
		        <div class="label-text" style="">
		            <label class="">
		                <span >Password</span>
		                <%=f.password_field :password%>
		            </label>
		        </div>
		        <div class="label-text" style="">
		            <label class="">
		                <span >Password Confirmation</span>
		                <%=f.password_field :password_confirmation%>
		            </label>
		        </div>
		        <div class="" style="">		            
		            <label class="label-text select-text">
		                <span >Select Event</span>
		                <%  events = Event.where(:status=>["Upcoming","OnGoing"]).order('name asc')
		                	names = events.pluck(:name)
		                	ids = events.pluck(:id)
		                	event_array = names.zip(ids)
		                %>
		                <%= f.select(:event_ids, event_array, { :prompt => "Please select an event"}, { :multiple => true }) %>
		            </label>
		        </div>
		        
		        <div class="checkin-btn" style="">
				    <label class="fu-button">
				    	<!-- <span >Create Bulk Checkin Managers</span> -->
				        <%= f.button "Create Bulk Checkin Managers", :onclick=>"bulk_checkin_managers_onsubmit_validation($('#admin_user_email_text').val(),$('#admin_user_quantity').val(),$('#admin_user_password').val(),$('#admin_user_password_confirmation').val(),$('#admin_user_event_ids').val());", :id=>"bulk_check_mans_id", :type=>"button"%>
			        </label>
			    </div>
       		</div>
		<%end%>
	</div>
	</body>
</html>