<%users.each do |user|%>
	<li class="choice">
		<label for="bulk_email_user_ids_<%=user.id%>">
			<input type="checkbox" value="<%=user.id%>" name="bulk_email[user_ids][]" id="bulk_email_user_ids_<%=user.id%>" <%if selected_value!=3%>checked<%end%>>
			<%=user.last_name%>, <%=user.first_name%>
		</label>
	</li>
<%end%>