<%unless params[:best_in_show].present?%>
	<div class="panel_contents">
		<form method="get" id="q_search" class="filter_form" action="<%=AppConfig.url%>/event_competitor_results" accept-charset="UTF-8">
			<div style="margin:0;padding:0;display:inline">
				<input type="hidden" value="✓" name="utf8">
			</div>
			<div class="filter_form_field filter_select">
				<!-- <label for="q_event_category_id" class="label">View Visitor Results</label>			 -->
				<select name="q[event_category_id_eq]" id="q_event_category_id" style="display:none;">
					<option value="judge_results">Judge Results</option>
			 	</select>
			</div>
			<div class="buttons">
				<input type="submit" value="Judge Results" name="commit" style="cursor:pointer;
				<%if (params[:q].present? && params[:q][:event_category_id_eq] == "judge_results") || (params[:q].present? && params[:q][:event_id_eq].present?) || !params[:q].present?%>background:#6E6E6E;color:black<%end%>">
				<!-- <a class="clear_filters_btn" href="#">Clear Filters</a> -->
				<input type="hidden" value="<%=params[:id]%>" name="id" id="hidden_active_admin_id">
				<input type="hidden" value="id_desc" name="order" id="hidden_active_admin_order">
			</div>
			<br>
		</form>
	</div>
<%end%>