<div class="form-group">
    <%= f.text_field  :requester_mobile, :type=> "number", :class=>"form-control", :placeholder => "Requester's mobile number" %>
    <%if @errors.present? && @errors[:requester_mobile].present?%>
        <p><span style="color:red;"><%=@errors[:requester_mobile].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.text_field  :name, :class=>"form-control", :placeholder => "Event Name" %>
    <%if @errors.present? && @errors[:name].present?%>
        <p><span style="color:red;"><%=@errors[:name].last%></span></p>
    <%end%>
</div>
<div class="form-group date-adjust">
    <%= f.text_field  :from_date, :class=>"form-control", :placeholder => "Event Date", :value=>f.object.from_date.present? ? "#{f.object.from_date.to_s(:db)}" : ""%>
    <%=f.select :meridian, options_for_select( ["AM", "PM"], :selected =>f.object.meridian.present? ? f.object.meridian : ""),{:include_blank => false},html_options = {:class => "form-control"} %>
    <%if @errors.present? && @errors[:from_date].present?%>
        <p><span style="color:red;"><%=@errors[:from_date].last%></span></p>
    <%end%>
</div>

<div class="form-group">
    <%= f.text_field  :venue_name, :class=>"form-control", :placeholder => "Venue Name" %>
    <%if @errors.present? && @errors[:venue_name].present?%>
        <p><span style="color:red;"><%=@errors[:venue_name].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.text_field  :address_line_1, :class=>"form-control", :placeholder => "Address" %>
    <%if @errors.present? && @errors[:address_line_1].present?%>
        <p><span style="color:red;"><%=@errors[:address_line_1].last%></span></p>
    <%end%>
</div>
<!-- <div class="form-group">
    <%#= f.text_field  :address_line_2, :class=>"form-control", :placeholder => "Address Line 2" %>
    <%#if @errors.present? && @errors[:address_line_2].present?%>
        <p><span style="color:red;"><%#=@errors[:address_line_2].last%></span></p>
    <%#end%>
</div> -->
<div class="form-group">
    <%= f.text_field  :city, :class=>"form-control", :placeholder => "City" %>
    <%= f.hidden_field  :status, :value=> "Pending"%>
    <%if @errors.present? && @errors[:city].present?%>
        <p><span style="color:red;"><%=@errors[:city].last%></span></p>
    <%end%>
</div>
<div class="form-group">    
    <%=f.select :country, options_for_select( Carmen::Country.all.sort, :selected => f.object.country),{:include_blank => "Select Country"},html_options = {:onchange => "getStates($(this).find(':selected').val(),false,'event_request');", :class => "form-control"} %>
    <%if @errors.present? && @errors[:country].present?%>
        <p><span style="color:red;"><%=@errors[:country].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%unless f.object.new_record?%>
        <%#country_obj = Carmen::Country.named(f.object.country)
        states = country_obj.subregions
        state = states.coded(f.object.state).try(:name)%>
        <%= f.select  :state, options_for_select(@states, :selected => @state), {:include_blank => "Please select a state"},html_options = {:class => "form-control"} %>
        <%#=f.hidden_field :edit_state, :value=>state%>
    <%else%>
        <%= f.select  :state, options_for_select(@states.present? ? @states : "Please select a state", :selected => @state), {:include_blank => "Please select a state"},html_options = {:class => "form-control"} %>
    <%end%>
    <%if @errors.present? && @errors[:state].present?%>
        <p><span style="color:red;"><%=@errors[:state].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.text_field  :no_of_categories, :type=> "number", :class=>"form-control", :placeholder => "Number of Categories" %>
    <%if @errors.present? && @errors[:no_of_categories].present?%>
        <p><span style="color:red;"><%=@errors[:no_of_categories].last%></span></p>
    <%end%>
</div>

<div class="form-group">
    <%=f.select :club_id, options_for_select( @clubs, :selected =>f.object.club_id.present? ? f.object.club_id : "Select a Club"),{:include_blank => "Select a Club"},html_options = {:class => "form-control"} %>
    <%if @errors.present? && @errors[:club_id].present?%>
        <p><span style="color:red;"><%=@errors[:club_id].last%></span></p>
    <%end%>
</div>

<div class="form-group">
    <%= f.text_field  :no_of_judges, :type=> "number", :class=>"form-control", :placeholder => "Number of Judges" %>
    <%if @errors.present? && @errors[:no_of_judges].present?%>
        <p><span style="color:red;"><%=@errors[:no_of_judges].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.text_field  :no_of_expected_competitors, :type=> "number", :class=>"form-control", :placeholder => "Number of Expected Competitors" %>
    <%if @errors.present? && @errors[:no_of_expected_competitors].present?%>
        <p><span style="color:red;"><%=@errors[:no_of_expected_competitors].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.text_field  :nonprofit_cause, :class=>"form-control", :placeholder => "NonProfit Cause" %>
    <%if @errors.present? && @errors[:nonprofit_cause].present?%>
        <p><span style="color:red;"><%=@errors[:nonprofit_cause].last%></span></p>
    <%end%>
</div>
<div class="form-group">
    <%= f.file_field  :image, :placeholder => "Event Image", :class => "custom-file-input"%>
</div>
<%= f.hidden_field  :user_id, :value=> @user.try(:id)%>

<div style="">
    <h4> Contact Details </h4>
    <%=f.fields_for :event_requester_shipping_detail do |ff|%>
        <div class="form-group">
            <%= ff.text_field  :shipping_contact_name, :class=>"form-control", :placeholder => "Shipping Contact Name" %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_contact_name].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_contact_name].last%></span></p>
            <%end%>
        </div>

        <div class="form-group">
            <%= ff.text_field  :shipping_address_line_1, :class=>"form-control", :placeholder => "Shipping Address Line 1" %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_address_line_1].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_address_line_1].last%></span></p>
            <%end%>
        </div>

        <div class="form-group">
            <%= ff.text_field  :shipping_address_line_2, :class=>"form-control", :placeholder => "Shipping Address Line 2" %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_address_line_2].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_address_line_2].last%></span></p>
            <%end%>
        </div>


        <div class="form-group">
            <%= ff.text_field  :shipping_city, :class=>"form-control", :placeholder => "Shipping City" %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_city].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_city].last%></span></p>
            <%end%>
        </div>

        <div class="form-group">    
            <%=ff.select :shipping_country, options_for_select( Carmen::Country.all.sort, :selected => ff.object.shipping_country),{:include_blank => "Select Country"},html_options = {:onchange => "getStates($(this).find(':selected').val(),false,'shipping_event');", :class => "form-control"} %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_country].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_country].last%></span></p>
            <%end%>
        </div>
        <div class="form-group">
            <%unless ff.object.new_record?%>
                <%= ff.select  :shipping_state, options_for_select(@shipping_states, :selected => @shipping_state), {:include_blank => "Please select a state"},html_options = {:class => "form-control"} %>
                <%#=f.hidden_field :edit_state, :value=>state%>
            <%else%>
                <%= ff.select  :shipping_state, options_for_select(@shipping_states.present? ? @shipping_states : "Please select a state", :selected => @shipping_state), {:include_blank => "Please select a state"},html_options = {:class => "form-control"} %>
            <%end%>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_state].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_state].last%></span></p>
            <%end%>
        </div>

        <div class="form-group">
            <%= ff.text_field  :shipping_zip, :class=>"form-control", :placeholder => "Shipping Zip" %>
            <%if @shipping_errors.present? && @shipping_errors[:shipping_zip].present?%>
                <p><span style="color:red;"><%=@shipping_errors[:shipping_zip].last%></span></p>
            <%end%>
        </div>
    <%end%>
</div>

<div class="article-foot-btn form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>    
    <%= link_to "Cancel", event_requests_path("user[uuid]"=>@uuid), class: "btn btn-primary" %>
</div>