<section class="content-section">
    <%class_name = (@event.try(:name).length >= 120) ? "extra-small" : (@event.try(:name).length >= 85) ? "small" : ""%>
    <h2 class="<%=class_name%>"><%=@event.try(:name).try(:capitalize)%></h2>
    <div class="panel">

        <%=form_for @event, :url => { :action => "update", "user[uuid]"=>@uuid }  do |f|  %>
            <article class="article">
                <h4>Edit Request</h4>
                <%=render "form", :f=>f%>
            </article>
        <%end%>

        <!-- </form> -->
    </div>
</section>
<!-- /content-section -->