<section class="content-section">
    <h2>All Events</h2>
    <div class="panel events-list">
        <article class="article">
            <%= link_to "Request Event", new_event_request_path("user[uuid]"=>@uuid), :class=> "link-btn"%>
            <h4>My Requested events</h4>
            <div class="clearfix"></div>
            <div class="form-group">
                <%if @events.present?%>
                    <%@events.each_with_index do |event,index|%>
                        <div class="manage-event-form">
                            <%=link_to event.name, event_request_path(event.id, "user[uuid]"=>@uuid)%>
                           <div class="form-action">
                                <%=link_to "Edit", edit_event_request_path(event.id, "user[uuid]"=>@uuid)%>
                                <%=link_to "Delete", event_request_path(event, "user[uuid]"=>@uuid),
                                    :confirm => 'Are you sure want to delete?', :method => :delete%>
                           </div>
                        </div>
                    <%end%>
                <%else%>
                    <div style="text-align:center;">No Events Found</div>
                <%end%>
            </div>
        </article>
    </div>
</section>
<!-- /content-section -->