<section class="content-section">
    <div class="panel">
        <%=form_for @event, :html => {:class => "new_event event_request_form"}, :url => { :action => "create", "user[uuid]"=>@uuid }  do |f|  %>
            <article class="article">
                <h4>Create New Request</h4>
                <%=render "form", :f=>f%>
            </article>
        <%end%>
    </div>
</section>
<!-- /content-section -->