<section class="content-section">
<%class_name = (@event.try(:name).length >= 120) ? "extra-small" : (@event.try(:name).length >= 85) ? "small" : ""%>
    <h2 class="<%=class_name%>"><%=@event.try(:name).try(:capitalize)%></h2>
    <div class="panel events-list">
        <article class="article">
        <%= link_to "Request Event", new_event_request_path("user[uuid]"=>@uuid), :class=>"link-btn m-r-0"%>
            <h4>Event Details</h4>
        <div class="clearfix"></div>
            <div class="form-group">
                <div class="event-request-detail">
                    <figure>
                        <%if @event.image_file_name.present?%>
                            <%=image_tag ("#{AppConfig.s3_url}/attachments/#{@event.id}/medium/"+@event.image_file_name) %>
                        <%else%>
                            There is no <br/>event image
                        <%end%>
                    </figure>
                    <figcaption>
                        <p><label>Event Name :</label><span><%=@event.try(:name)%></span></p>
                        <p><label>Event Date :</label><span><%=@event.try(:from_date).strftime("%d-%m-%Y %H:%M")%> <%=@event.try(:meridian)%></span></p>
                        <p><label>Address Line1 :</label><span><%=@event.try(:address_line_1)%></span></p>
                        <p><label>Address Line2 :</label><span><%=@event.try(:address_line_2) || "-"%></span></p>
                        <p><label>City :</label><span><%=@event.try(:city)%></span></p>
                        <p><label>Country :</label><span><%=@event.try(:country)%></span></p>
                        <p><label>State :</label><span><%=@event.try(:state)%></span></p>
                        <p><label>Categories :</label><span><%=@event.try(:no_of_categories)%></span></p>
                        <p><label>Event Club :</label><span><%=@event.try(:clubs).try(:first).try(:name)%></span></p>
                        <p><label>Rqstr Name :</label><span><%=@event.try(:user).try(:last_name)%>, <%=@event.try(:user).try(:first_name)%></span></p>
                        <p><label>Rqstr mobile :</label><span><%=@event.try(:requester_mobile)%></span></p>
                    </figcaption>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- /content-section -->