// Client side validation to avoid uploading large size video files and other unnecessary file types
function validate_file_field(id){
    var fl = document.getElementById(id);
    // fl.onchange = function(e){ 
        var ext = fl.value.match(/\.(.+)$/)[1];
        switch(ext)
        {
            case 'jpg':
            case 'jpeg':
            case 'png':
                return true;
                break;
            default:
                alert('The file you have chosen is not valid. Please upload an image file.');
                fl.value='';
                return false;
        }
    // };
}

function validate_member_checkin(value) {
    if (value == "Choose A Member")
        {
            alert("Please choose a member to check-in");
            return false;
        }
}

function validate_member_search(first_name,last_name) {
    // if (first_name.trim() == "" && last_name.trim() == "")
    //     {
    //         alert("Please enter first and last name");
    //         return false;
    //     }
    // else if (first_name.trim() == "" && last_name.trim() != "")
    // {
    //     alert("Please enter first name");
    //     return false;
    // }
    // else if (first_name.trim() != "" && last_name.trim() == "")
    // {
    //     alert("Please enter last name");
    //     return false;
    // }

    if (first_name.trim() == "" && last_name.trim() == "")
    {
        alert("Please enter first name and/or last name");
        return false;
    }

}

function validate_create_member(first_name,last_name,email,category) {
    if (email.trim() != "" && !IsEmail(email))
    {
        alert("Please enter a valid email address");
        return false;
    }
    else if (first_name.trim() == "" || email.trim() == "" || category == "Category")
    {
        alert("Please make sure the first name, email and category fields are filled");
        return false;
    }
    else
    {
        validate_email_on_create_new_user(email)
    }
}

function validate_edit_member(member) {
    if (member == "Choose A Checked-In Member")
        {
            alert("Please select a member to edit");
            return false;
        }
}

function validate_delete_members(members) {
    if (members.length == 0)
        {
            alert("Please choose a member to delete");
            return false;
        }
}

function validate_member_checkin_with_category(value) {
    if (value == "Choose a Category")
        {
            alert("Please choose a category to register & check-in");
            return false;
        }
}

function validate_edit_checkin_form(first_name,last_name,badge_id) {
    if (first_name.trim() == "" || last_name.trim() == "" || badge_id.trim() == "")
        {
            alert("Please enter all the fields");
            return false;
        }
}

function badge_id_onsubmit_validation(event_id,badge_id,old_badge_id,user_id)
{
    $.ajax({
        url: "<%=AppConfig.ajax_url%>/validate_number?number="+badge_id+"&event_id="+event_id+"&user_id="+user_id,
        type: 'GET',
        async: false,
        beforeSend: function(){
            //load_writter();
        },
        success: function(response){
            if (response.status)
            { 
                alert(response.message);
                $("#badge_id").val(old_badge_id);
                return false;
            }
            else
                $("form").submit();
        },
        complete: function(){
            //load_completer();
        }
    });
}

//Check if the user is already registered in the application
function validate_email_on_create_new_user(email)
{
    $.ajax({
        url: "<%=AppConfig.ajax_url%>/validate_email_on_create_new_user?email="+email,
        type: 'GET',
        async: false,
        beforeSend: function(){
            //load_writter();
        },
        success: function(response){
            if (response.status)
            { 
                alert(response.message);
                $("#email").focus();
                return false;
            }
            else
                $("#create_competitor_form_id").submit();
        },
        complete: function(){
            //load_completer();
        }
    });
}

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}

// function fadeout_confirmation() {
//     if ($('#confirmation_msg').css('display') == 'block') {
//         $('#confirmation_msg').show().delay(100).fadeOut();
//     }
    
// }

// function getStates(country,hide_edit_state,resource)
// {
//     $.ajax({
//         url: "<%=AppConfig.ajax_url%>/get_states?country="+country,
//         type: 'GET',
//         beforeSend: function(){
//             //load_writter();
//         },
//         success: function(response){
//             if (resource == 'user')
//                 $("#user_competitor_attributes_state").html(response);
//             else
//                 $("#event_state").html(response);

//             if (hide_edit_state)
//             {
//                 if (resource == 'user')
//                     $("#user_competitor_attributes_state").val($("#user_competitor_attributes_edit_state").val());
//                 else
//                     $("#event_state").val($("#event_edit_state").val());
//             }
//         },
//         complete: function(){
//             //load_completer();
//         }
//     });
// }