// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "just_datetime_picker/base";
@import "colorbox";
@import "activeadmin-sortable";
@import "select2.min";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

form fieldset.inputs.customStyle legend {
	width: 98.1%;
}
form fieldset.inputs.customStyle legend span {
	width: 100%;
}
form fieldset > ol > li fieldset.inputs.customStyle ol {
	padding: 40px 0 0 10px;
}
form fieldset.inputs.customStyle {
	margin: 0 -10px;
}

.judge_code_customClass ol {
	width: 100%;
	padding: 10px 0px 10px 0px;
}

a.fu-button {
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	background-color: #CCDFCD;
	overflow: hidden;
	font-size: 12px;
	padding: 3px 15px;
	border-radius: 3px; 
	color: #404040;
	text-decoration: none;
} 

#index_table_event_competitor_results thead th.rank,
#index_table_event_competitor_results tbody td.rank { width: 170px;} 
#index_table_event_competitor_results tbody td.rank span { display: block; cursor: pointer; }
#index_table_event_competitor_results tbody td.avg_judge_results span { display: block; cursor: pointer; }
#index_table_event_category_registrations tbody td.badge_id span { display: block; cursor: pointer; }
#index_table_event_categories tbody td.sort_order span { display: block; cursor: pointer; }

article, aside, figure, footer, header, hgroup,
			menu, nav, section { display: block; } 
			#test { margin: 0;}
			#cboxLoadedContent { overflow: hidden !important; overflow-y: auto !important;  }
			.popup-content h4 { font-weight: bold; font-size: 26px; margin: 0 0 10px 0  }
			.popup-content h6 { font-size: 14px; margin: 0 0 10px 0 }
			.popup-content .picHolder { width: 80%; border: 2px solid #000; text-align: center; margin: 0 auto; height: 400px; padding: 0;  }
			.popup-content .picHolder img { max-width: 100%; height: 100%; width: auto; font-size: 18px; }			
			.upload-btn-holder { text-align: center; }
			.fileupload-button { 
				overflow: hidden;
    			position: relative; 
				background-image: none; 
				border-radius: 4px;
				cursor: pointer;
				display: inline-block;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.42857;
				margin-bottom: 0;
				padding: 6px 0;
				text-align: center;
				vertical-align: middle;
				white-space: nowrap;
			}
	        .fileupload-button input {
	            cursor: pointer;
				direction: ltr;
				font-size: 200px;
				margin: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
	        }
	        .fu-button { 
	            cursor: pointer;
	            text-align: center;
	            overflow: visible;
	            background-color: #CCDFCD;
	            overflow: hidden;
	            font-size: 14px;
	            padding: 3px 15px;
	            border-radius: 3px; 
	        }

	        @-moz-document url-prefix() {
			  #event_meridian {
			     /*left:500px !important;*/
			  }
			}

/* New design */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
	background: url("<%=AppConfig.image_domain%>" + "/images/dashboard-bg.jpg") repeat-x 0 40px #8b8b8b;
	
}
/* Top strip */
#header { 
	background: #4c4c4c;  
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #1d1d1d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#1d1d1d));
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#1d1d1d 100%);
	background: -o-linear-gradient(top,  #4c4c4c 0%,#1d1d1d 100%);
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#1d1d1d 100%);
	background: linear-gradient(to bottom,  #4c4c4c 0%,#1d1d1d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1d1d1d',GradientType=0 );
	border-bottom-color: #1d1d1d;
	padding: 5px 0 7px;
}

#header ul.tabs > li a { 
	padding: 6px 10px 6px 10px;
	font-size: 13px;
	text-shadow: none;
}

#header ul.tabs > li.has_nested {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
  	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
}
#header ul.tabs > li.has_nested > a,
#header ul.tabs > li.has_nested.current > a,
#header ul.tabs > li.has_nested:hover > a {
	background-position: 92% 52%;
}
#header ul.tabs > li ul {
  background-color: #326EB7;
  color: #FFF;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}
#header ul.tabs > li ul li a {
	text-shadow: none;
}
#header ul.tabs > li ul li:hover a {
	background-color: #255288;
	border-radius: 0;
}
#header ul.tabs > li.has_nested:hover > a {
	background-color: #326EB7;
	color: #FFF;
	
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	  border-bottom: 5px solid #326EB7;
} 	
#header ul.tabs > li.has_nested.current > a,
#header ul.tabs > li.current > a {
	background-color: #326EB7;
	color: #fff;
	font-size: 13px;
	text-shadow: none;
	border-radius: 3px;
	padding: 5px 20px 5px 10px;
}
#header ul.tabs > li:hover > a {
	background-color: #326EB7;
	color: #fff;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
}
/* Header */
#header h1 a {
	width: 40px;
	height: 25px;
	position: relative;
	display: block;
}
#header h1 img {
	position: absolute;
	border: 1px solid #ccc;
    border-radius: 3px;
    height: auto;
    width: 40px; 
    top: -1px;
}


#title_bar {
	background: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}
#title_bar h2 {
	font-size: 26px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 28px;
}
.breadcrumb .breadcrumb_sep,
.breadcrumb a, 
.breadcrumb a:link, 
.breadcrumb a:visited, 
.breadcrumb a:active {
	color: #FFF;
	opacity: 0.5;
	font-size: 12px;
	text-shadow: none;
}
#title_bar .action_items a,
form input[type=submit],
form.filter_form a.clear_filters_btn,
form fieldset.buttons li.cancel a, 
form fieldset.actions li.cancel a,
a.button, 
a:link.button, 
a:visited.button, 
input[type=submit] {
	background: #191919;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
	text-shadow: none; 
	text-align: center;
	box-shadow: none;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 3px;
}
#title_bar .action_items a:not(.disabled):hover,
form input[type=submit]:not(.disabled):hover,
form.filter_form a.clear_filters_btn:not(.disabled):hover,
form fieldset.buttons li.cancel a:not(.disabled):hover, 
form fieldset.actions li.cancel a:not(.disabled):hover,
a.button:not(.disabled):hover, 
a:link.button:not(.disabled):hover, 
a:visited.button:not(.disabled):hover, 
input[type=submit]:not(.disabled):hover {
	background: #6E6E6E !important;
	box-shadow: none;
}

.selectbox-dynamic {
	background: #191919;
	border: none;
	border-radius: 4px;
	padding: 6px 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #FFF;
	float: left;
	margin-left: 10px;
}

/* Content Section */
.section,
.panel {
	border-radius: 3px;
}
.section > h3,
.panel > h3 {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#active_admin_content {
	padding-top: 10px; 
}
table.index_table {
  border: solid 1px #cdcdcd;
  border-radius: 3px;
}

table.index_table th {
	background: #326eb7;
	border: 0;
	text-shadow: none;
	box-shadow: 0 0 1px #234166;
	padding: 12px 10px 9px 10px;
	color: #FFF;
	width: 100px;
}
table.index_table th.sortable a {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-shadow: none;
}
table.index_table th:first-child {
	border-top-left-radius: 3px;
}
table.index_table th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}
table.index_table th.sorted-asc,
table.index_table th.sorted-desc {
	background: #255288;
}
table.index_table tr.odd td { 
	background: #FFF; 
}
table.index_table tr.even td { 
	background: #FFF; 
}
table.index_table tr:last-child td:first-child {
	border-bottom-left-radius: 3px; 
}
table.index_table tr:last-child td:last-child {
	border-bottom-right-radius: 3px; 
}


/* Aside */
.sidebar_section > h3 {
	background: #326eb7;
	text-shadow: none;
	box-shadow: none;
	padding: 12px 10px 9px 10px;
	color: #FFF;
}
#sidebar .sidebar_section > h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
#main_content .panel,
#sidebar .sidebar_section,
form fieldset.inputs {
	background: #FFF;
}
#main_content .panel {
	border: solid 1px #cdcdcd;
}
#main_content .panel > h3,
form fieldset legend span {
	background: #326eb7;
	border: 0;
	text-shadow: none;
	box-shadow: 0 0 1px #234166;
	padding: 12px 10px 9px 10px;
	color: #FFF; 
}

/* Brows button */
.brows-btn { 
	text-align: center; 
}
.brows-btn a {
	background: url("<%=AppConfig.image_domain%>" + "/images/icon-add.png") center top no-repeat;
	background-size: 42px 42px;
	color: #474747;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.5;
	padding-top: 50px;
	display: block;
	margin: 25px 0;
}

/* Custom SelectBox */
	.s-hidden {
        visibility:hidden;
        padding-right:10px;
    }
    .select-box {
        cursor:pointer;
        display:inline-block;
        position:relative; 
        color:white; 
        background: #5a5a5a;
        border-radius: 5px;
        height: 30px;
        min-width: 180px; 
        width: 23.3%;
        margin: 5px 1.8% auto auto;
    }
    .select-box:last-child { 
    	margin-right: 0;
    }
    .styledSelect {
        position:absolute;
        top:0;
        right:30px;
        bottom:0;
        left:0;
        background-color:#757575;
        padding:0 10px; 
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        line-height: 30px;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
    } 
    .styledSelect:before,
    .styledSelect:after {
        content:"";
        width:0;
        height:0;
        border: solid transparent;
        position:absolute;
        right: -18px;
    }
    .styledSelect:before {
		border-width: 3px 3px 7px 3px;
        border-color:transparent transparent white transparent; 
        top:4px;
    }
    .styledSelect:after { 
        border-width: 7px 3px 3px 3px;
        border-color: white transparent transparent transparent; 
        top:16px;
    } 
    .options {
        display:none;
        position:absolute;
        top:100%;
        right:0;
        left:0;
        z-index:999;
        margin:0 0;
        padding:0 0;
        list-style:none; 
        background-color:#686868; 
        border-radius: 5px;
        margin-top: 2px; 
        font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
    }
    .options li {
        padding:0 6px;
        margin:0 0;
        padding:0 10px;
        line-height: 30px;
    }
    .options li a {
    	color: #FFF;
    	text-decoration: none;
    	display: block;
    }
    .options li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .options li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .options li:hover {
        background-color:#e01e36;
        color:white;
    }


.blank_slate_container .blank_slate {
	margin-top: 150px !important;
}
.blank_slate_container .blank_slate {
	border: 1px dashed #FFF;
  	color: #FFF;
}
.download_links {
	color: #FFF;
}
.download_links a {
	font-weight: bold;
	color: #FFF;
}
.download_links a:hover {
	color: #FFF;
}
/* Pagination */
.pagination_information {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #fff;
}
.pagination_information b {
	color: #fff;
	font-weight: bold;
} 
#footer {
	padding: 0 30px;
}


form fieldset > ol > li fieldset.inputs.has_many_fields ol {
	padding-left: 40px;
}
form fieldset > ol > li fieldset.inputs.has_many_fields ol li.has_many_delete {
	text-align: left;
}
form fieldset > ol > li fieldset ol li.has_many_delete .button {
	margin: 0 0 40px -40px;
}
form fieldset > ol > li fieldset ol {
	padding: 20px 0 0 20%;
}
form fieldset > ol > li fieldset.inputs.customStyle ol {
	padding-top: 60px;
}

body.logged_in .flashes .flash {
	margin: 20px 0 -13px 28px;
    padding: 13px 30px 11px;
    width: 91%;
}

body.logged_in .flashes .flash.flash_notice {
    /*background: #443E3E;*/
    background: #fff;
    border: 1px solid #ccc;
    /*color: #FFF;*/
    color: green;
    text-shadow: none;
    border-radius: 3px;
}

#dropdown select {
	margin-bottom: 20px;
	padding: 5px;
}
#dropdown .club-logos_btn-save,
#dropdown #cancel_dropdown,
.panel-footer-btn input,
.panel-footer-btn a {
	display: inline-block;
	background: #191919;
	color: #FFF;
	border-radius: 4px;
  	padding: 4px 0;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  	font-size: 14px;
  	text-transform: uppercase;
  	width: 80px;
  	line-height: normal;
  	cursor: pointer;
}
.panel-footer-btn {
	margin-left: 2px
}
.panel-footer-btn input,
.panel-footer-btn a {
	text-decoration: none;
	text-align: center;
	width: 75px;
	padding: 4px 0 !important;
	line-height: normal !important;
	margin: 0 2px 0 0 !important;
}

.left-algin-fix {
	margin-left: -33px;
}

ul {
    list-style-type: none;
}
.status_tag.category_closed.ok {
	background: #326eb7;
	padding: 8px 15px;
	text-shadow: none;
	border-radius: 2px;
	border: 1px solid #cdcdcd;
	box-shadow: 0 0 1px #234166;
}

.status_tag.category_closed.status {
	background: #326eb7;
	padding: 3px 5px 2px;
	text-shadow: none;
	border-radius: 2px;
	border: 1px solid #cdcdcd;
	box-shadow: 0 0 1px #234166;
}

.event-category-dropdown { 
	border: 5px;
	line-height: 33px;
	height: 33px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	border: none;
	float: left;
	margin: 0 0 0 15px;
	color: #FFF;
	border-radius: 3px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 2px 10px;
    border: none;
    background: #757575 url("<%=AppConfig.image_domain%>" + "/images/icon-event-category-dropdown.png") no-repeat right center;
    /*background-position: 220px 10px;*/
    outline: none;
    cursor: pointer;
}

#add_event_clubs_dropdown > option {
    width: 200px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis; */
}

form#edit_event_category_registration fieldset > ol > li  input[type="button"]{
    background: none repeat scroll 0 0 #191919;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
    padding: 10px 15px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* Admin New login */
.new-login,
.new-login #wrapper,
body {
	height: 100%;
	min-height: 100%;
}
.new-login body {
	background-color: #303030;
}
.new-login #wrapper {
	position: relative;
}
.fhlLogin-logo {
	text-align: center;
	margin-bottom: 10px;
}
.new-login body.logged_out #content_wrapper #active_admin_content {
	padding:20px 30px 15px
}

.new-login .loginBg {
	background: url("<%=AppConfig.image_domain%>/images/loginpage_bg.jpg") no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
	height: 190px;
	border: 1px solid #000;
	border-width: 1px 0 1px 0;
	position: absolute;
	top: 50%;
	margin-top: -95px;
}
.new-login #content_wrapper {
	position: relative;
	z-index: 9;
}
.new-login body.logged_out #content_wrapper {
	margin: -250px auto 0;
    width: 100%;
	text-align: center;
    position: absolute;
    top: 50%;
}
.new-login .login-card {
	width: 340px;
	height: 255px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: 3px solid rgba(0, 0, 0, 0.2);
}
.new-login body.logged_out h2 {
	text-align: left;
	font-family: "Montserrat",sans-serif;
	font-size: 13px;
  	color: #848484;
	margin: 0 0 15px;
	background: transparent;
	box-shadow: none;
	background: url("<%=AppConfig.image_domain%>/images/title_underline.png") bottom left repeat-x;
  	padding: 0 0 15px 0; 
  	text-shadow: none;
}
.new-login .fp-link {
	text-align: left;
	font-family: "Montserrat",sans-serif;
	font-size: 13px; 
  	padding-top: 15px;
	background: transparent;
	box-shadow: none;
	background: url("<%=AppConfig.image_domain%>/images/title_underline.png") top left repeat-x;
}
.new-login .fp-link a {
	text-decoration: none;
	color: #848484;
}

.new-login body.logged_out h2 b {
	color: #666766;
}
.new-login #admin_user_email_input label,
.new-login #admin_user_password_input label{
	display: none;
}
.logged_out #login form fieldset li {
	width: 100%
}
.new-login .logged_out #login form fieldset li input[type="email"],
.new-login .logged_out #login form fieldset li input[type="password"] {
	display: block;
	width: 93%;
	font-size: 13px;
}
.new-login #admin_user_remember_me_input label {
	font-family: "Montserrat",sans-serif;
	color: #848484;
	font-size: 12px;	
	padding-left: 0;
	text-align: left;
	margin-top: 5px;
} 
.new-login #admin_user_remember_me_input label input {
	position: relative;
    top: 3px;
}
.new-login form .actions {
	margin-top: 0;
}
.logged_out #login form {
	position: relative;
}
.new-login #admin_user_submit_action input[type="submit"] {
	position: absolute;
	bottom: 15px;
	right: 0;
	margin: 0;
	background: #326eb7;
}
.new-login .fp-card #admin_user_submit_action {
	text-align: right;
}
.new-login .fp-card #admin_user_submit_action input[type="submit"] {
	position: inherit;
}
.new-login .fp-card form fieldset > ol > li p.inline-errors {
	margin-left: 0;
	text-align: left;
}
.new-login .fp-card form fieldset.inputs {
	margin-top: 35px;
}
.new-login #login {
    min-height: 208px;
}

.new-login body.logged_out .flash.message-class {
	color: red !important;
	text-shadow: 1px 1px 1px #000;
	font-size: 13px;
}

.new-login #admin_user_password_confirmation_input label {
	display: none;
}

ol.choices-group {
	width: 1024px;
}
.choices-group li {
	float: left;
	padding: 0 10px;
	min-width: 160px;
}
#event_event_user_ids_input fieldset.choices {
	margin-top: 20px;
}
#event_event_user_ids_input .choices-group {
	padding-top: 40px;
}

.panel.panel-dateLink .panel_contents ul:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.panel.panel-dateLink .panel_contents ul { display: inline-block; }
.panel.panel-dateLink .panel_contents ul { height: 1%; }
.panel.panel-dateLink .panel_contents ul { display: block; }

.panel.panel-dateLink .panel_contents ul label {
	width: 67px;
	float: left;
	display: inline-block;
}
.panel.panel-dateLink .panel_contents ul li {
	clear: both;
	padding-bottom: 10px;
}
.panel.panel-dateLink .panel_contents ul a {
	width: 82px;
	display: inline-block;
}

/* Result Table row color */
tr.result-tbl-1st td { background-color: #a8c1f2 !important }
tr.result-tbl-2nd td { background-color: #e8a3a3 !important }
tr.result-tbl-3rd td { background-color: #ffffff !important }
tr.result-tbl-4th td { background-color: #cfcfcf !important }

@media (max-width: 1200px) {
	ol.choices-group {
		width: 760px;
	}
}

@media (max-width: 1024px) {
	ol.choices-group {
		width: 680px;
	}
}

@media (max-width: 767px) {
	.new-login body.logged_out #content_wrapper {
		margin-top: -220px;
	}
	.new-login .loginBg {
		margin-top: -67px;
	}
}

@media (max-width: 500px) {
	.new-login .loginBg {
		top: 185px;
		margin-top: 0;
	}
	.new-login .login-card {
		width: 80%;
		margin-bottom: 20px;
	}
	.new-login body.logged_out #content_wrapper {
		position: inherit;
		margin: 30px auto;
		width: 90%;
	}
	.new-login body.logged_out #content_wrapper #active_admin_content {
		padding: 20px 25px 15px;
	}
}

.voted_judge_circle{

    padding: 8px 8px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #308014;
    border: 1px solid #3A6629;
    margin: 5px;
}

.voted_judge_circle_img{
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #308014;
    border: 3px solid #3A6629;
    margin: 1px;
    height: 30px;
	width: 30px;
}

.awaiting_judge_votes_img{
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #FF0000;
    border: 3px solid #E3170D;
    margin: 1px;
    height: 30px;
	width: 30px;
}

.awaiting_judge_votes{
    padding: 8px 8px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #FF0000;
    border: 1px solid #E3170D;
    margin: 5px;
}
.skipped_olympic_calculations{
	font-weight: bold;
	text-decoration: line-through;
}
.event-top-btns-list .panel_contents {
	float: left;
	margin-right: 20px;
}
.event-top-btns-list .panel_contents .buttons {
	margin-top: 0;
}
.event-top-btns-list .panel_contents .filter_form_field.filter_select {
	margin-bottom: 0;
}
.event-top-btns-list .buttons input[type="button"] {
	background: none repeat scroll 0 0 #191919;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
    padding: 7px 15px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
}
.event-top-btns-list .buttons input[type="button"]:hover,
.event-top-btns-list .buttons input[type="button"].active {
	background: #6E6E6E !important;
  	box-shadow: none;
}

/*checkin-manager*/
.checkin-manager h4{
	text-align: center;
	margin-bottom: 15px
}
.checkin-manager .label-text span{
	font-size: 17px;
	display: block;
	margin-bottom: 0px;
	display: block;
}
.checkin-manager .select-text span{
	margin-bottom: 10px;
}
.checkin-manager .label-text{
	margin-bottom: 15px;
	display: inline-block;
	width: 95%;

}
.checkin-manager .label-text input{
	width: 95%;
	height: 10px;
	border-color: #C9D0D6;
	border-radius: 0px;
	font-size: 13px;
	width: 100%;

}
.checkin-manager .label-text select{
	border-color: #C9D0D6;
	border-width: 1px;
	border-radius: 0px;
	border: 1px solid #C9D0D6;
	border-bottom: 1px solid #C9D0D6;
	height: 105px;
}
.checkin-manager .checkin-btn .fu-button{
	background: none;
	padding: 0px;
	margin-top: 30px
}
.checkin-manager .checkin-btn button{
	background: none repeat scroll 0% 0% #191919;
	border: medium none;
	border-radius: 4px;
	padding: 6px 15px;
	text-shadow: none;
	text-align: center;
	box-shadow: none;
	color: #FFF;
	font-family: "Montserrat",sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.checkin-manager .checkin-btn button:hover{
	background: #6E6E6E;
	cursor:pointer;
}
#event_meridian{
	margin-left: 5px
}

.evnt-cat-counts {
	width: 10px !important;
}