@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,600,700,800,400);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  background: url("<%=AppConfig.image_domain%>" + "/images/dashboard-bg.jpg") top center no-repeat #8b8b8b; }
a,
a:focus,
a:active {
  outline: none; border: none; }
  .form-control::-moz-placeholder { color: #555; }
  .form-control:-ms-input-placeholder { color: #555; }
  .form-control::-webkit-input-placeholder { color: #555; }

  h2 {
    font-size: 37px; color: #FFF; font-weight: 600; text-transform: uppercase; text-align: center; margin: 30px 0; }
    h2.small { font-size: 26px }
    h2.extra-small { font-size: 18px }

header {
  text-align: center; padding: 21px 0; }
  header .logo {
    border-right: 2px solid #FFF; display: inline-block; padding: 5px 40px; float: left;}
  header .logo img {
    width: 140px; height: auto; }
    header .logo-caption a {text-decoration: none;}
    header .logo-caption {
      display: inline-block; margin-left: 40px; float: right; }
      header .logo-caption h1 {
        font-size: 40px; font-weight: 700; color: #FFF; text-transform: uppercase; line-height: 40px; text-align: left; }
         header .logo-caption h1 span {
           font-weight: 800; letter-spacing: 3.1px; }
           header .logo-caption h1 span.request-text {
            letter-spacing: 5.6px }

           .form-control { height: 40px; padding: 9px 12px; }

.content-section {
/* padding: 30px 0; */ }
  .content-section .panel {
    border-radius: 2px; }
    .content-section .panel .article {
      display: block; overflow: hidden; padding: 15px 25px;  }
      .content-section .panel .article:nth-child(odd) {
        background-color: #eeeeee; }
        .content-section .panel.events-list .article:nth-child(odd) {
        background-color: transparent;  }
        .content-section .panel.events-list .article {
        border-bottom: 1px solid #CCC; }
        .content-section .panel .article h4 {
          font-size: 18px; color: #3166ab; font-weight: 700; margin: 0 0 15px; }
          .content-section .panel .article h4.title-style {
            background: url("<%=AppConfig.image_domain%>" + '/images/title_underline.png') bottom left repeat-x; padding-bottom: 15px; }
          .content-section .panel .article .btn-primary, .content-section .panel .article .btn-danger {
            min-width: 130px; padding: 8px 12px; font-size: 16px; font-weight: 600; margin-left: 10px;}
            .content-section .panel .article .form-group {
              padding: 0 12px; }
              .content-section .panel .article .form-group.article-foot-btn {
                margin-bottom: 15px; text-align: right; }
                .content-section .panel .article.article-style:nth-child(odd) {
                  background-color: transparent; } 
                    .content-section .panel .article.article-style .form-group {
                      padding: 0 30px; }
                      .content-section .panel .article.article-style .form-group.article-foot-btn {
                        text-align: center; }
                        .content-section .panel .article.article-style .upload-picture {
                          width: 100%; margin-bottom: 20px; position: relative; border: 2px solid #ccc; min-height: 350px; }
                          .content-section .panel .article.article-style .upload-picture img { 
                           width: 100%; }
                          .content-section .panel .article.article-style .upload-picture figcaption {
                            position: absolute; top: 0; right: 0; text-align: center; padding-bottom: 15px; }
                            .content-section .panel .article.article-style .upload-picture figcaption .icon-camara {
                              width: 80px; height: auto; }
                              .content-section .panel .article.article-style .upload-picture figcaption .fileUpload {
                                position: relative; display: inline-block; }
                                .content-section .panel .article.article-style .upload-picture figcaption .fileUpload input.upload {
                                  width: 80px; height: 62px; }
                              

.article-foot-btn .btn-inB {
  display: inline-block; }

.content-section .panel .article .inner-article {
  padding: 10px; }
  .content-section .panel .article .inner-article h3 {
    margin: 0; font-size: 20px;  font-weight: 700; }
    .content-section .panel .article .inner-article p {
      font-size: 18px; }
.content-section .panel .article .inner-article:nth-child(even) {
        background-color: #eeeeee; }
.content-section .panel .article .inner-article .form-inline .form-group {
  padding: 0; }
  .content-section .panel .article .inner-article .form-inline .form-control {
    width: 320px; }
    .content-section .panel .article .inner-article .form-inline .btn {
      float: right; }


.content-section .panel .panel-header-btn { text-align: right; padding: 10px 38px 0 0; }

.alert {
  margin: 30px 0 0; border-radius: 2px; padding: 5px;}
  .alert.alert-success {
    background: #565656; border-color: #565656; color: #FFF;}
    .alert div, .alert h3 {
      float: left; margin: 0; min-height: 55px; }
      .alert h3 { 
        width: 45%; padding-left: 30px; font-size: 15px; font-weight: 600; text-transform: uppercase; margin-right: 0; line-height: 55px;   }
      .alert div {
        width: 55%; }
      .alert div p {
        margin: 0; line-height: 18px; }
        .alert div p {
        margin: 0; line-height: 18px; }
        .alert div p span {
          font-weight: 700;}

.inline-block {
  display: inline-block;
}

.icon {
  position: relative; top: 2px; display: inline-block; font-style: normal; font-weight: normal; line-height: 1; }
  .icon.icon-success {
    width: 25px; height: 25px; vertical-align: text-bottom; background: url("<%=AppConfig.image_domain%>" + '/images/icon_success-tick.png') center center no-repeat; background-size: 25px 25px; margin-right: 5px; }

.fileUpload {
    position: relative; overflow: hidden; margin: 0 8px 0 0; }
    .fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

.events-list .article a { background-color: #e2e2e2; padding: 5px 10px; color: #000; border-radius: 3px; text-decoration: none; display: block; }
.events-list .article a + a { margin-top: 10px }
.events-list .article a:nth-child(2n+1) { background-color: #ccc; }

.events-list .article .manage-event-form { margin-bottom: 10px; position: relative; }
.events-list .article .manage-event-form > a { padding: 5px 120px 5px 10px; background-color: #e2e2e2; }
.events-list .article .manage-event-form .form-action { position: absolute; top: 50%; right: 3px; margin-top: -11px; }
.events-list .article .manage-event-form .form-action a {  padding: 2px 10px; text-align: center; width: auto;display: inline-block; color: #FFF; background-color: #6C6C6C; font-size: 12px; margin-top: 0; }
.events-list .article .manage-event-form:nth-child(2n+1) > a { background-color: #ccc; }
.events-list .article .link-btn { margin-right: 12px; margin-top: -5px; }

.link-btn { background: #191919 !important; color: #FFF !important; text-align: center; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size: 12px; padding: 6px 12px 4px 12px !important; font-weight: bold; border-radius: 3px; float: right; }
.link-btn:hover { text-decoration: none;; color: #FFF; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input { padding: 2px 0 0 0; }

input[type=file].custom-file-input:focus {   outline: none; }
.custom-file-input::before {
  font-family: 'Montserrat', sans-serif; text-transform: uppercase;
  content: 'Upload Event Poster';
  display: inline-block;
  background: #191919;
  border-radius: 3px;
  padding: 6px 8px 5px 8px;
  outline: none;
  white-space: normal;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 9px;
  color: #FFF;
  margin-top: -2px;
  max-width: 81px;
}
.content-section h2{
  font-size: 17px;
  font-weight: 700;
  font-family: arial;
}

.event-request-detail figure { width: 190px; display: inline-block; float: left; padding-right: 25px; margin-top: 10px; }
.event-request-detail figure img { width: 100%; height: auto; border: 2px solid #ccc;  border-radius: 1px; }
.event-request-detail figcaption { display: inline-block; width: 273px; }
.event-request-detail figcaption { margin-top: 10px; }
.event-request-detail figcaption p { margin-bottom: 0; padding: 4px 6px; border-radius: 2px; }
.event-request-detail figcaption p:nth-child(2n+1){ background-color: #ccc; }
.event-request-detail figcaption p label { width: 120px; font-weight: bold; margin-bottom: 2px; float: left; }
.event-request-detail figcaption p span { display: inline-block; width: 140px }

.logout-class { color: white; float: right; position: relative; margin: -2px 8px 0; font-weight: bold; font-size: 14px; border:none; padding: 1px 1px 3px 1px; border-radius: 2px; }


.btn-remove { background-color: #FFF; color: #d9534f; font-size: 12px; float: right; width: 22px; font-weight: bold;
height: 22px;border-radius: 22px; border: 1px solid #d9534f; line-height: 19px; text-align: center; }
.btn-remove:hover { background-color: #d9534f; color: #fff; text-decoration: none; }
.btn-remove:focus { color: #d9534f; text-decoration: none; border: 1px solid #d9534f; background-color: #FFF;  }

@media (min-width: 1200px) {
  .container {
    width: 570px; }
}
@media (min-width: 992px) {
  .container {
    width: 570px; }
}
@media (min-width: 768px) {
  .container {
    width: 570px; }
}

@media (max-width: 767px) {
  body {
    background: url("<%=AppConfig.image_domain%>" + "/images/dashboard-bg.jpg") center -30px no-repeat #8b8b8b; }
    h2 {
      margin: 15px 0; font-size: 30px; }
  header {
    padding: 15px 0 11px; }
    header .logo {
      padding: 0 20px; }
      header .logo img {
        width: 120px; }
        header .logo-caption {
          margin-left: 20px; }
          header .logo-caption h1 {
          font-size: 34px;  line-height: 30px; margin: 21px 0; }
          header .logo-caption h1 span {
            letter-spacing: 2.7px }
            header .logo-caption h1 span.request-text {
              letter-spacing: 4.5px }

    .alert {
      margin: 15px 0 0; }
      .content-section .panel .article .inner-article .form-inline .form-control { 
        width: 100%; }
      .content-section .panel .article .inner-article .form-inline .btn {
      float: none; margin-left: 0;}

      .event-request-detail figure { width: 40%; }
      .event-request-detail figcaption { width: 60%; }

      .logout-class { margin: -15px 7px 0; }

}

@media (max-width: 579px) {
  .content-section .panel .article.article-style .upload-picture { min-height: 180px; }
  .content-section .panel .article.article-style .upload-picture { min-height: 250px; }
  .content-section .panel .panel-header-btn { padding: 10px 15px 0 0; }

  .content-section .panel .article.article-style .form-group.footAttr-link a {
    display: block;
  }

  .event-request-detail figure { width: 100%; padding: 0; }
  .event-request-detail figcaption { width: 100%; }
  .event-request-detail figcaption p span { width: auto; }
  
  .content-section .panel .article .article-foot-btn .btn-primary, 
  .content-section .panel .article .article-foot-btn .btn-danger {
    min-width: 115px;
  }

}

@media (max-width: 479px) {
  body {
    background: url("<%=AppConfig.image_domain%>" + "/images/dashboard-bg.jpg") center -60px no-repeat #8b8b8b; }
    h2 {
      font-size: 20px; }
    header {
      padding: 10px 0; }
      header .logo {
        padding: 5px 10px; border-width: 1px; }
        header .logo img {
          width: 90px; }
          header .logo-caption {
            margin-left: 10px; }
            header .logo-caption h1 {
              font-size: 24px; line-height: 25px; margin: 12px 0; }
              header .logo-caption h1 span {
                letter-spacing: 2px }
                header .logo-caption h1 span.request-text {
                  letter-spacing: 3.3px }

  .content-section .panel .article {
    padding: 15px; }
    .content-section .panel .article h4 {
      font-size: 15px; }
      .content-section .panel .article .form-group {
        padding: 0; }
        .content-section .panel .article .btn-primary {
          font-size: 13px; min-width: 90px; margin-left: 0; padding: 6px 10px; }
          .content-section .panel .article.article-style .form-group {
            padding: 0 20px; }
            .content-section .panel .article.article-style .upload-picture {
              min-height: 180px; }
            .content-section .panel .article.article-style .upload-picture figcaption .icon-camara {
              width: 50px; height: auto; }
              .content-section .panel .article .inner-article h3 {
                font-size: 16px; }
                .content-section .panel .article .inner-article p {
                font-size: 14px; }

  .form-control {
      height: 32px;
      padding: 4px 12px; }

  .alert { padding: 10px; }
  .alert div, .alert h3 {
    min-height: inherit; margin: 0 10px; width: auto; }
    .alert h3 {
      line-height: 35px; }
      .alert p,.alert h3  {
      padding-left: 0; }

      .events-list .article .link-btn { margin-right: 0; font-size: 10px; display: block; margin-top: -2px; line-height: 14px; padding: 6px 5px 4px 5px !important }

      .logout-class { margin: -11px 4px 0; }

      .content-section .panel .article .article-foot-btn .btn-primary, 
      .content-section .panel .article .article-foot-btn .btn-danger {
          min-width: 80px;
      }
}

@media (max-width: 360px) {
  .event-request-detail figcaption p label {width: 115px; }
  .event-request-detail figcaption p span { width: 108px; }
}


.m-r-0 {
  margin-right: 0 !important;
}

.content-section .panel .article .form-group.date-adjust input {
 width: 82%;
 float: left;
 margin-right: 3%;
}
.content-section .panel .article .form-group.date-adjust select {
 width: 15%;
}

.btn-danger { 
    background-color: #b13840;
    border-color: #b13840;
}
.btn-danger:hover { 
    background-color: #b13840;
    border-color: #b13840;
}

@media (max-width: 767px) {
 .content-section .panel .article .form-group.date-adjust input {
     width: 72%; 
     margin-right: 3%;
 }
 .content-section .panel .article .form-group.date-adjust select {
     width: 25%;
 }
}