<div class="panel_contents">
	<form method="get" id="q_search" class="filter_form" action="<%=admin_users_path%>" accept-charset="UTF-8">
		<div style="margin:0;padding:0;display:inline">
			<input type="hidden" value="✓" name="utf8">
		</div>
		<div class="filter_form_field filter_numeric select_and_search">
			<label for="q_card_id" class="label">Member Id</label>
			<select name="" id="">
				<option selected="selected" value="card_id_equals">Equals</option>
				<option value="card_id_greater_than">Greater than</option>
				<option value="card_id_less_than">Less than</option>
			</select>
			<input type="text" step="any" name="q[card_id_equals]" id="q_card_id">
		</div>
		<div class="filter_form_field filter_string select_and_search">
			<label for="q_first_name" class="label">First name</label>
			<select name="" id="">
				<option selected="selected" value="first_name_contains">Contains</option>
				<option value="first_name_equals">Equals</option>
				<option value="first_name_starts_with">Starts with</option>
				<option value="first_name_ends_with">Ends with</option>
			</select>
			<input type="text" name="q[first_name_contains]" id="q_first_name">
		</div>
		<div class="filter_form_field filter_string select_and_search">
			<label for="q_last_name" class="label">Last name</label>
			<select name="" id="">
				<option selected="selected" value="last_name_contains">Contains</option>
				<option value="last_name_equals">Equals</option>
				<option value="last_name_starts_with">Starts with</option>
				<option value="last_name_ends_with">Ends with</option>
			</select>
			<input type="text" name="q[last_name_contains]" id="q_last_name">
		</div>
		<div class="filter_form_field filter_string select_and_search">
			<label for="q_email" class="label">Email</label>
			<select name="" id="">
				<option selected="selected" value="email_contains">Contains</option>
				<option value="email_equals">Equals</option>
				<option value="email_starts_with">Starts with</option>
				<option value="email_ends_with">Ends with</option>
			</select>
			<input type="text" name="q[email_contains]" id="q_email">
		</div>
		<div class="filter_form_field filter_select">
			<label for="q_country_eq" class="label">Country</label>
			<select name="q[country_eq]" id="q_country">				
				<option value="">Any</option>
				<%countries = User.pluck(:country).uniq.compact - [""]%>
				<%countries.each do |country|%>
					<option value="<%=country%>"><%=country%></option>
				<%end%>
			</select>
		</div>
		<div class="filter_form_field filter_select">
			<label for="q_user_type_id" class="label">User type</label>
			<select name="q[user_type_id_eq]" id="q_user_type_id">
				<option value="">Any</option>
				<option value="2">Competitor</option>
				<option value="3">Fan</option>
			</select>
		</div>
		<div class="buttons">
			<input type="submit" value="Filter" name="commit">
			<a class="clear_filters_btn" href="#">Clear Filters</a>
			<input type="hidden" value="first_name_asc" name="order" id="hidden_active_admin_order">
		</div>
	</form>
</div>