<%p "testooooo"%>

<!-- <a href="https://www.eventbrite.com/xml/organizer_new?app_key=DL5PFFNSQE2VAQ34DN&user_key=1427195756138283481616&name=Techaffinity&description=My+organization+is+great">Organizer create</a>
 -->
<a href="https://www.eventbrite.com/json/event_new?app_key=MHLRBGHDNY672XQB4J&user_key=1427205452138294608898&title=Come+and+shave&description=Test+Created+By+Bree&start_date=2015-04-15+10:00:00&end_date=2015-04-25+02:00:00">Create new event</a>

<br>

<a href="https://www.eventbrite.com/json/user_list_events?app_key=MHLRBGHDNY672XQB4J&user_key=1427205452138294608898">List events</a>

<br>

<a href="https://www.eventbrite.com/json/event_get?app_key=MHLRBGHDNY672XQB4J&user_key=1427205452138294608898&id=16433366642">Get event information</a>

<br>

<a href="https://www.eventbrite.com/json/event_list_attendees?app_key=MHLRBGHDNY672XQB4J&user_key=1427205452138294608898&id=16296903477">Get attendees for the event</a>

<br>




