<script type="text/javascript">
$(function(){
   add_tablesorter("index_table_events");
});
</script>
<div class="paginated_collection">
  <div class="paginated_collection_contents">
    <div class="index_content">
      <div class="index_as_table">
      <section class="event-top-btns-list">
          <%=render "admin/all_events/full_events"%>
          <%=render "admin/all_events/upcoming_events"%>
          <%=render "admin/all_events/inprogress_events"%>
          <%=render "admin/all_events/completed_events"%>
          <%=render "admin/all_events/pending_events"%>
      </section>
      <div class="paginated_collection">
        <div class="paginated_collection_contents"></div>
        <div id="index_footer">
          <div class="pagination_information">Displaying <b>all <%=total_events_sorted.try(:count)%></b> Events</div>
        </div>
      </div>
        <table cellspacing="0" cellpadding="0" border="0" class="index_table index" id="index_table_events">
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="sorted-asc event_date">Event Date</th>              
            </tr>
          </thead>
          <tbody>
          <% route_param = params[:route]
             route = (route_param == "evt_cat") ? "event_categories" : (route_param == "evt_clb") ? "event_clubs" : (route_param == "evt_comp") ? "event_competitors" : (route_param == "evt_jdc") ? "event_judge_codes" : (route_param == "evt_spn") ? "event_sponsors" : (route_param == "evt_fan_vot") ? "event_fan_voting_results" : (route_param == "evt_reg") ? "event_category_registrations" : (route_param == "evt_mc") ? "event_mcs" : "all_events"
          %>
          <%total_events_sorted.each do |event|%>
          <%event_filter = (route == "event_competitors") ? ["q[event_filter_equals]","#{event.try(:name)}"] : (route == "event_fan_voting_results") ? ["event_id","#{event.try(:id)}"] : ["q[event_id_eq]","#{event.try(:id)}"]%>
            <tr id="event_12" class=<%=cycle('odd','even')%>>
              <td class="name">
                <%if (route_param == "evt_reg")%>
                  <%val = EventCategoryRegistration.find_checkedin_val_or_not(event)%>
                  <%=link_to(event.try(:name), send("admin_#{route}_path", "order"=>"event_category_registrations.number_asc",event_filter[0]=>event_filter[1],"q[is_checked_in_eq]"=>val))%>
                <%else%>
                  <%=link_to(event.try(:name), send("admin_#{route}_path", event_filter[0]=>event_filter[1]))%>
                <%end%>
              </td>
              <td class="event_date"><%=event.try(:from_date).strftime('%A, %B %d, %Y')%></td>
            </tr>
          <%end if total_events_sorted.present?%>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>
          