<div class="panel_contents">
	<form method="get" id="q_search" class="filter_form" action="<%=AppConfig.url%>/events" accept-charset="UTF-8">
		<div style="margin:0;padding:0;display:inline">
			<input type="hidden" value="✓" name="utf8">
		</div>
		<div class="filter_form_field filter_select">
			<select name="q[status_eq]" id="q_status" style="display:none;">
				<option value="Completed">Completed</option>
		 	</select>
		</div>
		<div class="buttons">
			<input type="button" value="Completed" name="commit" style="cursor:pointer;<%if params[:event_type] == 'Completed'%>background:#6E6E6E;color:black;<%end%>" onclick="return check_if_events_for_tabs('Completed',event,'<%=params[:route]%>');">
		</div>
		<br>
	</form>
</div>