<!DOCTYPE html>
<html class="new-login">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title><%= [@page_title, render_or_call_method_or_proc_on(self, ActiveAdmin.application.site_title)].compact.join(" | ") %></title>

  <% ActiveAdmin.application.stylesheets.each do |style, options| %>
    <%= stylesheet_link_tag style, options %>
  <% end %>
  <% ActiveAdmin.application.javascripts.each do |path| %>
    <%= javascript_include_tag path %>
  <% end %>

  <%= favicon_link_tag ActiveAdmin.application.favicon if ActiveAdmin.application.favicon %>

  <%# ActiveAdmin.application.meta_tags_for_logged_out_pages.each do |name, content| %>
    <%#= tag(:meta, name: name, content: content) %>
  <%# end %>

  <%= csrf_meta_tag %>
</head>
<body class="active_admin logged_out <%= controller.action_name %>">
<div id="wrapper">
<div class="loginBg"></div>
<div id="content_wrapper">
  <div class="fhlLogin-logo">
    <img src="<%=AppConfig.image_domain%>/images/fhlAdmin-logo.png">
  </div>
    <% flash.each do |type, message| %>
      <%if message != "You need to sign in or sign up before continuing."%>
        <%= content_tag :div, message, class: "flash flash_#{type} message-class" %>
      <%end%>
    <% end %>
    <div id="active_admin_content" class="login-card">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <%= yield :footer %>
  </div>
</div>
</body>
</html>
