<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <%if params[:controller] == "event_requests"%>
            <title>BBQL Event Request</title>
        <%else%>
            <title>BBQL Event Check-In</title>
        <%end%>
        <link rel="shortcut icon" href="<%=AppConfig.image_domain%>/images/Favicon.png" type="image/png">

        <!-- Bootstrap -->
        <!-- <link href="/assets/bootstrap.min.css" rel="stylesheet"> -->
        <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>

        <!-- BBQL Style -->
        <!-- <link href="/assets/checkin_style.css" rel="stylesheet"> -->
        <%= stylesheet_link_tag    "checkin_style", :media => "all" %>

        <!-- All application js functions -->
        <%#= javascript_include_tag "application" %> <!-- if you active this, please check & remove the below jquery.min.js -->
      	<%= csrf_meta_tags %>

      	<!-- /wrapp -->
        <!-- Including Date picker css -->
         <!-- this should go after your </body> -->
        <%= stylesheet_link_tag    "jquery.datetimepicker", :media => "all" %>
        <%= javascript_include_tag "jquery" %>
        <%= javascript_include_tag "jquery.datetimepicker.full.min" %>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <%= javascript_include_tag "bootstrap.min" %>

        <!-- To make the delete link work in /event_requests/index.html.erb i.e) to include the default jqueries-->
         <%= javascript_include_tag "application" %>

        <!-- Custom Js functions -->
        <%= javascript_include_tag "checkin_manager" %>        

         <script>
            $(function() {
                $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
            });
        </script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="wrapp">
            <div class="container">
                <header class="clearfix">
                    <div class="inline-block">
                        <div class="logo">
                        <%if params[:controller] == "event_requests"%>
                            <%logo_path = event_requests_path("user[uuid]"=>@uuid)%>
                        <%else%>
                            <%logo_path = (current_admin_user.try(:is_checkin_manager) && !["admin@bbql.com","brett@facialhairleague.com","brett@fhl.com"].include?(current_admin_user.try(:email))) ? admin_admin_user_path(current_admin_user.try(:id)) : admin_dashboard_path%>
                        <%end%>
                            <%= link_to (image_tag('/images/fhl-logo.png')), logo_path %>
                        </div>
                        <div class="logo-caption">
                            <!-- <h1>BBQL Event </br><span>Check-In</span></h1> -->
                            <%if params[:controller] == "event_requests"%>
                                <%path = event_requests_path("user[uuid]"=>@uuid)%>
                                <%= link_to ("<h1>BBQL Event </br><span class='request-text'>Request</span></h1>".html_safe), path%>
                            <%else%>
                                <%path = current_admin_user.try(:event_ids).present? && current_admin_user.try(:event_ids).reject(&:empty?).count.eql?(1) ? event_checkin_mobile_checkin_path(current_admin_user.try(:event_ids).try(:last)) : mobile_checkins_path%>
                                <%= link_to ("<h1>BBQL Event </br><span>Check-In</span></h1>".html_safe), path%>
                            <div class="fp-link">
                                <%= link_to ("<span class='logout-class'>Logout</span>".html_safe), destroy_admin_user_session_path%>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </header>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
